Host *
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    PasswordAuthentication=no
    ServerAliveInterval=60

#### The Bastion Host
Host vexslave-old
    HostName slave-1.sjc1.progmaticlab.com
    User jenkins
    IdentityFile ~/.ssh/workers

#### The Remote Host
Host openlab2
    HostName openlab.tf-jenkins.progmaticlab.com
    Port 30002
    ProxyJump vexslave-old
    User jenkins
    IdentityFile ~/.ssh/workers
