version: '3'

services:
  traefik:
    image: traefik
    restart: always
    depends_on:
      - gerrit
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/traefik/traefik.yaml:/etc/traefik/traefik.yml:ro
      - /etc/traefik/traefik.provider.yaml://etc/traefik/provider.yaml
    ports:
      - 443:443
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"
