entryPoints:
  https:
    address: ":443"
  http:
    address: ":80"

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ letsencrypt_email }}"
      storage: "/etc/traefik/acme.json"
      tlsChallenge: {}

log:
  level: ERROR

providers:
  file:
    filename: "/etc/traefik/provider.yaml"
