- name: Make ~/.ssh directory
  file:
    path: /home/{{ ssh_user }}/.ssh
    owner: "{{ ssh_user }}"
    group: "{{ ssh_user }}"
    mode: "0700"
    state: directory

- name: Add trusted ssh pubkeys to ssh_user authorized_keys file
  blockinfile:
    dest: /home/{{ ssh_user }}/.ssh/authorized_keys
    create: yes
    marker: "# {mark} Ansible managed default keys"
    block: |
      {% for key in ssh_pubkeys %}
      {{ key }}
      {% endfor %}
    owner: "{{ ssh_user }}"
    group: "{{ ssh_user }}"
    mode: "0600"
  become: no

- name: Install aptitude using apt
  apt:
    name: aptitude
    state: latest
    update_cache: yes
    force_apt_get: yes

- name: Install required packages
  apt:
    name: "{{ required_pkgs }}"
    state: present

- name: Upgrade all packages to the latest version
  apt:
    name: "*"
    state: latest
    update_cache: yes
  when: apt_upgrade_all

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: Make /etc/docker directory
  file:
    path: /etc/docker
    owner: root
    group: root
    state: directory

- name: Copy daemon.json template
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    owner: root
    group: root

- name: Ensure group "docker" exists
  group:
    name: docker
    state: present

- name: adding existing user jenkins to group docker
  user:
    name: jenkins
    groups: docker
    append: yes

- name: Install docker-ce
  apt:
    name:
      - "docker-ce{% if 'jenkins_slave' in group_names %}=18.06.3~ce~3-0~ubuntu{% endif %}"
    state: present


