all:
  children:
    mirrors:
      hosts:
        10.87.72.100:
          remote_user: root
    kvm:
      hosts:
       5a8s1-node3:
          remote_user: root
          ansible_host: 10.39.0.21
          br0_ip: 192.168.100.1
          br1_ip: 192.168.101.1
          bridge_map:
            eno1:
              br-mgmt
            ens1f0:
              br0
            ens1f1:
              br1
        5a8s5:
          remote_user: root
          ansible_host: 10.39.0.27
          br0_ip: 192.168.100.2
          br1_ip: 192.168.101.2
          bridge_map:
            eno1:
              br-mgmt
            ens2f0:
              br0
            ens2f1:
              br1
        5a8s6:
          remote_user: root
          ansible_host: 10.39.0.28
          br0_ip: 192.168.100.3
          br1_ip: 192.168.101.3
          bridge_map:
            enp6s0f0:
              br-mgmt
            enp4s0f0:
              br0
            enp4s0f1:
              br1
       5a8s8:
          remote_user: root
          ansible_host: 10.39.0.30
          br0_ip: 192.168.100.4
          br1_ip: 192.168.101.4
          bridge_map:
            eno1:
              br-mgmt
            ens2f0:
              br0
            ens2f1:
              br1
        5a8s9:
          remote_user: root
          ansible_host: 10.39.0.31
          br0_ip: 192.168.100.5
          br1_ip: 192.168.101.5
          bridge_map:
            eno1:
              br-mgmt
            enp4s0f0:
              br0
            enp4s0f1:
              br1

  vars:
    gateway: 10.87.72.126
    local_mirror_ip_address: 10.87.72.66

