---
credentials:
  system:
    domainCredentials:
      - credentials:
        - string:
            description: "VEXX_OS_USERNAME"
            id: "VEXX_OS_USERNAME"
            scope: GLOBAL
            secret: ""
        - string:
            description: "VEXX_OS_PROJECT_NAME"
            id: "VEXX_OS_PROJECT_NAME"
            scope: GLOBAL
            secret: ""
        - string:
            description: "VEXX_OS_PASSWORD"
            id: "VEXX_OS_PASSWORD"
            scope: GLOBAL
            secret: ""
        - string:
            description: "VEXX_OS_DOMAIN_NAME"
            id: "VEXX_OS_DOMAIN_NAME"
            scope: GLOBAL
            secret: ""
        - string:
            description: "VEXX_OS_AUTH_URL"
            id: "VEXX_OS_AUTH_URL"
            scope: GLOBAL
            secret: ""
        - basicSSHUserPrivateKey:
            description: "Gerrit key"
            id: "zuul-tf-gerrit"
            privateKeySource:
              directEntry:
                privateKey: "{xxxx==}"
            scope: GLOBAL
            username: "zuul-tf"
        - basicSSHUserPrivateKey:
            description: "Slave key"
            id: "jenkins-ssh-key"
            privateKeySource:
              directEntry:
                privateKey: "{xxxx==}"
            scope: GLOBAL
            username: "jenkins"
        - usernamePassword:
            description: "jjb login"
            id: "self-jenkins"
            password: ""
            scope: GLOBAL
            username: "self-jenkins"
        - usernamePassword:
            description: "Nexus login"
            id: "docker"
            password: ""
            scope: GLOBAL
            username: "docker"
        - aws:
            accessKey: "AKXXXXXXXXXXXXXXX"
            id: "aws-creds"
            scope: GLOBAL
            secretKey: ""
jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"
  numExecutors: 5
  scmCheckoutRetryCount: 2
  mode: NORMAL
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "self-jenkins"
          password: "passw0rd"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  remotingSecurity:
    enabled: true
  nodes:
    - permanent:
        labelString: "aws"
        launcher:
          ssh:
            credentialsId: "jenkins-ssh-key"
            host: "slave01.aws.tf-jenkins.progmaticlab.com"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
        name: "slave01-aws"
        numExecutors: 20
        remoteFS: "/home/jenkins"
        retentionStrategy: "always"
    - permanent:
        labelString: "vexxhost vexx"
        launcher:
          ssh:
            credentialsId: "jenkins-ssh-key"
            host: "slave01.vexx.tf-jenkins.progmaticlab.com"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
        name: "slave01-vexxhost"
        numExecutors: 20
        remoteFS: "/home/jenkins"
        retentionStrategy: "always"
unclassified:
  location:
    adminAddress: "jenkins@progmaticlab.com"
    url: "https://tf-jenkins.progmaticlab.com/"
security:
  scriptApproval:
    approvedSignatures:
      - "method hudson.model.Actionable getAction java.lang.Class"
      - "method hudson.model.ParametersAction getParameters"
      - "method java.util.concurrent.Semaphore acquire"
      - "method java.util.concurrent.Semaphore release"
      - "method java.util.concurrent.locks.Lock lock"
      - "method java.util.concurrent.locks.Lock unlock"
      - "new java.util.concurrent.Semaphore int"
      - "new java.util.concurrent.locks.ReentrantLock"
      - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods next java.lang.String"
