#!/bin/bash -xe

TMP_DIR="/var/jenkins_backup"
ARC_DIR="${TMP_DIR}/arc"
TMP_TAR_NAME="${TMP_DIR}/jenkins_backup.tgz"
JENKINS_HOME="{{ volume_jenkins.volume.Mountpoint }}"
CURRENT_DAY=`date +%d`
DEST_FILE="jenkins_daily_backup-${CURRENT_DAY}.tgz"

[ -d "$TMP_DIR" ] || mkdir "$TMP_DIR"
[ -d "$ARC_DIR" ] && rm -rf "$ARC_DIR"
[ -f "$TMP_TAR_NAME" ] && rm -f "$TMP_TAR_NAME"

mkdir -p "${ARC_DIR}/${plugin}"

for i in plugins users secrets nodes .ssh; do
  mkdir -p "${ARC_DIR}/${i}"
done

cp "${JENKINS_HOME}/"*.xml "${ARC_DIR}"
cp "${JENKINS_HOME}/plugins/"*.[hj]pi "${ARC_DIR}/plugins"
cp "${JENKINS_HOME}/plugins/"*.[hj]pi.pinned "${ARC_DIR}/plugins"
cp -R "${JENKINS_HOME}/users/"* "${ARC_DIR}/users"
cp -R "${JENKINS_HOME}/secrets/"* "${ARC_DIR}/secrets"
cp -R "${JENKINS_HOME}/nodes/"* "${ARC_DIR}/nodes"
cp -R "${JENKINS_HOME}/.ssh/"* "${ARC_DIR}/.ssh"

cd "${TMP_DIR}"
tar -czvf "${TMP_TAR_NAME}" arc/*

mv -f "${TMP_TAR_NAME}" "${DEST_FILE}"
rm -rf "${ARC_DIR}"
