credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          description: "jenkins slaves"
          id: "jenkins-ssh-key"
          privateKeySource:
            directEntry:
              privateKey: |
                  {{ jenkins_id_ssh_rsa | indent (18) }}
          scope: SYSTEM
          username: "jenkins"
      - usernamePassword:
          description: "jjb login"
          id: "{{ jenkins_default_user }}"
          password: "{{ jenkins_defaut_user_password }}"
          scope: GLOBAL
          username: "self-jenkins"
jenkins:
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"
  numExecutors: 2
  scmCheckoutRetryCount: 2
  mode: NORMAL
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_default_user }}"
          password: "{{ jenkins_defaut_user_password }}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  remotingSecurity:
    enabled: true
{% if ('aws' in groups and groups['aws']) or ('vexxhost' in groups and groups['vexxhost']) %}
  nodes:
{% for host in groups['aws'] %}
    - permanent:
        labelString: "aws"
        launcher:
          ssh:
            credentialsId: "jenkins-ssh-key"
            host: "{{ host }}"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
        name: "slave{{ loop.index }}-aws"
        numExecutors: 20
        remoteFS: "/home/jenkins"
        retentionStrategy: "always"
{% endfor %}
{% for host in groups['vexxhost'] %}
    - permanent:
        labelString: "vexxhost vexx"
        launcher:
          ssh:
            credentialsId: "jenkins-ssh-key"
            host: "{{ host }}"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
        name: "slave{{ loop.index }}-vexxhost"
        numExecutors: 20
        remoteFS: "/home/jenkins"
        retentionStrategy: "always"
{% endfor %}
{% endif %}
unclassified:
  location:
    adminAddress: "{{ jenkins_admin_email }}"
    url: "https://{{ jenkins_fqdn }}/"
security:
  scriptApproval:
    approvedSignatures:
      - "method hudson.model.Actionable getAction java.lang.Class"
      - "method hudson.model.ParametersAction getParameters"
      - "method java.util.concurrent.Semaphore acquire"
      - "method java.util.concurrent.Semaphore release"
      - "method java.util.concurrent.locks.Lock lock"
      - "method java.util.concurrent.locks.Lock unlock"
      - "new java.util.concurrent.Semaphore int"
      - "new java.util.concurrent.locks.ReentrantLock"
      - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods next java.lang.String"
