{% set rule = "Host(`" + nexus_name + "." + region + "." + ci_domain + "`)" -%}
{% if default_region is defined  and default_region -%}
{% set rule = rule + " || Host(`" + nexus_name + "." + ci_domain + "`)" -%}
{% endif -%}

http:
  routers:
    r1:
      rule: "{{ rule }}"
      service: "s1"
      entryPoints:
        - "registry5101"
      tls:
        certResolver: "letsencrypt"
        domains:
          - main: "{{ nexus_name }}.{{ region }}.{{ ci_domain }}"
{% if default_region is defined  and default_region %}
            sans: "{{ nexus_name }}.{{ ci_domain }}"
{% endif %}
    r2:
      rule: "{{ rule }}"
      service: "s2"
      entryPoints:
        - "registry5102"
      tls:
        certResolver: "letsencrypt"
        domains:
          - main: "{{ nexus_name }}.{{ region }}.{{ ci_domain }}"
{% if default_region is defined  and default_region %}
            sans: "{{ nexus_name }}.{{ ci_domain }}"
{% endif %}
  services:
    s1:
      loadBalancer:
        servers:
        - url: http://{{ nexus_name }}.{{ region }}.{{ ci_domain }}:5001/
    s2:
      loadBalancer:
        servers:
        - url: http://{{ nexus_name }}.{{ region }}.{{ ci_domain }}:5002/

