credentials:
  system:
    domainCredentials:
    - credentials:
{% if jenkins_default_user_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: self-jenkins
          username: self-jenkins
          password: "{{ jenkins_default_user_password }}"
          description: jjb login
{% endif %}
{% if nexus_user is defined and nexus_password is defined %}
      - string:
          scope: GLOBAL
          id: TPC_REPO_USER
          secret: "{{ nexus_user }}"
          description: tpc repo user
      - string:
          scope: GLOBAL
          id: TPC_REPO_PASS
          secret: "{{ nexus_password }}"
          description: tpc repo pass
{% endif %}
{% if aws_access_key is defined and aws_secret_key is defined %}
      - aws:
          scope: GLOBAL
          id: aws-creds
          accessKey: "{{ aws_access_key }}"
          secretKey: "{{ aws_secret_key }}"
          description: ""
{% endif %}
{% if docker_user is defined and docker_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: docker
          username: "{{ docker_user }}"
          password: "{{ docker_password }}"
          description: docker creds for nexus upload
{% endif %}
{% if vexx_os_username is defined %}
      - string:
          scope: GLOBAL
          id: VEXX_OS_USERNAME
          secret: "{{ vexx_os_username }}"
          description: VEXX_OS_USERNAME
{% endif %}
{% if vexx_os_project_name is defined %}
      - string:
          scope: GLOBAL
          id: VEXX_OS_PROJECT_NAME
          secret: "{{ vexx_os_project_name }}"
          description: VEXX_OS_PROJECT_NAME
{% endif %}
{% if vexx_os_password is defined %}
      - string:
          scope: GLOBAL
          id: VEXX_OS_PASSWORD
          secret: "{{ vexx_os_password }}"
          description: VEXX_OS_PASSWORD
{% endif %}
{% if vexx_os_domain_name is defined %}
      - string:
          scope: GLOBAL
          id: VEXX_OS_DOMAIN_NAME
          secret: "{{ vexx_os_domain_name }}"
          description: VEXX_OS_DOMAIN_NAME
{% endif %}
{% if vexx_os_auth_url is defined %}
      - string:
          scope: GLOBAL
          id: VEXX_OS_AUTH_URL
          secret: "{{ vexx_os_auth_url }}"
          description: VEXX_OS_AUTH_URL
{% endif %}
{% if rhel_user is defined and rhel_password is defined and rhel_pool_id is defined %}
      - string:
          scope: GLOBAL
          id: RHEL_USER
          secret: "{{ rhel_user }}"
          description: RHEL_USER
      - string:
          scope: GLOBAL
          id: RHEL_PASSWORD
          secret: "{{ rhel_password }}"
          description: RHEL_PASSWORD
      - string:
          scope: GLOBAL
          id: RHEL_POOL_ID
          secret: "{{ rhel_pool_id }}"
          description: RHEL_POOL_ID
{% endif %}
{% if dockerhub_user is defined and dockerhub_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: dockerhub
          username: "{{ dockerhub_user }}"
          password: "{{ dockerhub_password }}"
          description: Dockerhub credentials for TF containers publishing
{% endif %}
{% if gerrit_user is defined and gerrit_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: gerrit.tungsten.io
          username: "{{ gerrit_user }}"
          password: "{{ gerrit_password }}"
          description: TF's gerrit REST API credentials
{% endif %}
{% if mass_api_key is defined %}
      - string:
          scope: GLOBAL
          id: MAAS_API_KEY
          secret: "{{ maas_api_key }}"
          description: MAAS_API_KEY
{% endif %}
{% if aquascanner_user is defined and aquascanner_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: aquascanner
          username: "{{ aquascanner_user }}"
          password: "{{ aquascanner_password }}"
          description: local aquasec scanner
{% endif %}
{% if aquasec_user is defined and aquasec_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: aquasec
          username: "{{ aquasec_user }}"
          password: "{{ aquasec_password }}"
          description: ""
{% endif %}
      - string:
          scope: GLOBAL
          id: ENABLE_RHEL_REGISTRATION
          secret: "false"
          description: ""
{% if key_list.jenkins_slave is defined %}
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: jenkins-ssh-key
          username: jenkins
          passphrase: ""
          description: "jekins slaves"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.jenkins_slave | indent(width=16) }}
{% endif %}
{% if key_list.mirrors is defined %}
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: tf-mirrors
          username: repoupdater
          passphrase: ""
          description: tf-mirrors
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.mirrors | indent(width=16) }}
{% endif %}
{% if key_list.jenkins_worker is defined %}
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: worker
          username: noname
          passphrase: ""
          description: ""
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.jenkins_worker | indent(width=16) }}
{% endif %}
