jenkins:
  systemMessage: |
    TF Home <a href="https://tungsten.io/">https://tungsten.io/</a><br>
    Based on <a href="https://github.com/tungstenfabric/tf-jenkins">https://github.com/tungstenfabric/tf-jenkins</a><br><br>
    Jenkins configured automatically by Jenkins Configuration as Code plugin
  numExecutors: 2
  scmCheckoutRetryCount: 2
  mode: NORMAL
  globalNodeProperties:
  - envVars:
      env:
      - key: CI_DOMAIN
        value: "{{ ci_domain }}"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_default_user }}"
          password: "{{ jenkins_default_user_password }}"
  authorizationStrategy:
    globalMatrix:
      permissions:
      - "Job/Read:anonymous"
      - "Overall/Administer:authenticated"
      - "Overall/Read:anonymous"
      - "View/Read:anonymous"
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  remotingSecurity:
    enabled: true
{% if ('aws' in groups and groups['aws']) or ('vexxhost' in groups and groups['vexxhost']) %}
  nodes:
{% if ('aws' in groups and groups['aws']) %}
{% for host in groups['aws'] %}
    - permanent:
        labelString: "aws"
        launcher:
          ssh:
            credentialsId: "jenkins-ssh-key"
            host: "{{ host }}"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
        name: "slave-aws_{{ loop.index }}"
        numExecutors: 20
        remoteFS: "/home/jenkins"
        retentionStrategy: "always"
{% endfor %}
{% endif %}
{% if ('vexxhost' in groups and groups['vexxhost']) %}
{% for host in groups['vexxhost'] %}
    - permanent:
        labelString: "vexxhost vexx"
        launcher:
          ssh:
            credentialsId: "jenkins-ssh-key"
            host: "{{ host }}"
            port: 22
            sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
        name: "slave-vexxhost-{{ hostvars[host].region }}_{{ loop.index }}"
        numExecutors: "{{ hostvars[host].executors | default(20) }}"
        remoteFS: "/home/jenkins"
        retentionStrategy: "always"
        nodeProperties:
        - envVars:
            env:
            - key: "SLAVE_REGION"
              value: "{{ hostvars[host].region }}"
            - key: "OS_NETWORK"
              value: "{{ hostvars[host].default_network }}"
            - key: "OS_SG"
              value: "default"
{% endfor %}
{% endif %}
{% endif %}
unclassified:
  location:
    adminAddress: "{{ jenkins_admin_email }}"
    url: "https://{{ jenkins_name }}.{{ region }}.{{ ci_domain }}/"
  shell:
    shell: "/bin/bash"
security:
  scriptApproval:
    approvedSignatures:
    - "method hudson.model.Actionable getAction java.lang.Class"
    - "method hudson.model.Actionable getAllActions"
    - "method hudson.model.ItemGroup getItem java.lang.String"
    - "method hudson.model.Job getBuildByNumber int"
    - "method hudson.model.Job getBuilds"
    - "method hudson.model.ParameterValue getValue"
    - "method hudson.model.ParametersAction getParameter java.lang.String"
    - "method hudson.model.ParametersAction getParameters"
    - "method hudson.model.Run getArtifactManager"
    - "method hudson.model.Run getDuration"
    - "method hudson.model.Run getEnvironment"
    - "method hudson.model.Run getId"
    - "method hudson.model.Run getResult"
    - "method hudson.model.Run getStartTimeInMillis"
    - "method java.lang.Throwable getStackTrace"
    - "method java.net.HttpURLConnection getResponseCode"
    - "method java.net.HttpURLConnection setFollowRedirects"
    - "method java.net.HttpURLConnection setFollowRedirects boolean"
    - "method java.net.URL openConnection"
    - "method java.net.URLConnection getHeaderField"
    - "method java.net.URLConnection getHeaderField java.lang.String"
    - "method java.util.Collection toArray"
    - "method java.util.List addAll int java.util.Collection"
    - "method java.util.concurrent.Semaphore acquire"
    - "method java.util.concurrent.Semaphore release"
    - "method java.util.concurrent.locks.Lock lock"
    - "method java.util.concurrent.locks.Lock unlock"
    - "method jenkins.model.ArtifactManager root"
    - "method jenkins.model.CauseOfInterruption getShortDescription"
    - "method jenkins.model.Jenkins getItemByFullName java.lang.String"
    - "method jenkins.util.VirtualFile isDirectory"
    - "method jenkins.util.VirtualFile list"
    - "method jenkins.util.VirtualFile open"
    - "method org.jenkinsci.plugins.workflow.steps.FlowInterruptedException getCauses"
    - "new java.util.concurrent.Semaphore int"
    - "new java.util.concurrent.locks.ReentrantLock"
    - "staticMethod groovy.json.JsonOutput toJson java.lang.Object"
    - "staticMethod jenkins.model.Jenkins getInstanceOrNull"
    - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods addAll java.util.List int java.lang.Object[]"
    - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods getText java.io.InputStream"
    - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods next java.lang.String"
    - "staticMethod org.codehaus.groovy.runtime.EncodingGroovyMethods decodeBase64 java.lang.String"
