credentials:
  system:
    domainCredentials:
    - credentials:

      - usernamePassword:
          scope: GLOBAL
          id: self-jenkins
          username: "{{ jenkins_default_user }}"
          password: "{{ jenkins_default_user_password }}"
          description: jjb login

      - usernamePassword:
          scope: GLOBAL
          id: tpc-repo
          username: "{{ nexus_user }}"
          password: "{{ nexus_password }}"
          description: login for tpc

      # - usernamePassword:
      #     scope: GLOBAL
      #     id: rhel-creds
      #     username: "{{ rhel_user | default('NotDefined') }}"
      #     password: "{{ rhel_password | default('NotDefined') }}"
      #     description: RedHat credentials

      # - aws:
      #     scope: GLOBAL
      #     id: aws-creds
      #     accessKey: "{{ aws_access_key | default('NotDefined') }}"
      #     secretKey: "{{ aws_secret_key | default('NotDefined') }}"
      #     accessKey: "NotDefined"
      #     secretKey: "NotDefined"
      #     description: ""

      - string:
          scope: GLOBAL
          id: OS_USERNAME
          secret: "{{ os_username | default('NotDefined') }}"
          description: OS_USERNAME env var for openstack cloud
      - string:
          scope: GLOBAL
          id: OS_PROJECT_ID
          secret: "{{ os_project_id | default('NotDefined') }}"
          description: OS_PROJECT_ID env var for openstack cloud
      - string:
          scope: GLOBAL
          id: OS_PASSWORD
          secret: "{{ os_password | default('NotDefined') }}"
          description: OS_PASSWORD env var for openstack cloud
      - string:
          scope: GLOBAL
          id: OS_DOMAIN_NAME
          secret: "{{ os_domain_name | default('NotDefined') }}"
          description: OS_DOMAIN_NAME env var for openstack cloud
      - string:
          scope: GLOBAL
          id: OS_AUTH_URL
          secret: "{{ os_auth_url | default('NotDefined') }}"
          description: OS_AUTH_URL env var for openstack cloud

# just publish job depends on it and fail will show absence of this cred
{% if dockerhub_user is defined and dockerhub_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: dockerhub
          username: "{{ dockerhub_user }}"
          password: "{{ dockerhub_password }}"
          description: Dockerhub credentials for TF containers publishing
{% endif %}

# required to notify gerrit about checks after passed jobs initiated by gerrit event
{% if gerrit_user is defined and gerrit_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: gerrit
          username: "{{ gerrit_user }}"
          password: "{{ gerrit_password }}"
          description: TF's gerrit REST API credentials
{% endif %}

      # - string:
      #     scope: GLOBAL
      #     id: MAAS_API_KEY
      #     secret: "{{ maas_api_key | default('NotDefined') }}"
      #     description: MAAS_API_KEY

# just aquascan job depends on it and fail will show absence of this cred
{% if aquascanner_user is defined and aquascanner_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: aquascanner
          username: "{{ aquascanner_user }}"
          password: "{{ aquascanner_password }}"
          description: local aquasec scanner
{% endif %}
{% if aquasec_user is defined and aquasec_password is defined %}
      - usernamePassword:
          scope: GLOBAL
          id: aquasec
          username: "{{ aquasec_user }}"
          password: "{{ aquasec_password }}"
          description: ""
{% endif %}

      # - string:
      #     scope: GLOBAL
      #     id: OPENSHIFT_PULL_SECRET
      #     secret: '{{ openshift_pull_secret | default('NotDefined') }}'
      #     description: https://cloud.redhat.com/openshift/install/pull-secret

      # next group must be there
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: jenkins-ssh-key
          username: jenkins
          passphrase: ""
          description: "jekins slaves"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.jenkins_slave | indent(width=16) }}
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: tf-mirrors
          username: repoupdater
          passphrase: ""
          description: tf-mirrors
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.mirrors | indent(width=16) }}
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: worker
          username: noname
          passphrase: ""
          description: ""
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.workers | indent(width=16) }}
      - basicSSHUserPrivateKey:
          scope: GLOBAL
          id: logs_host
          username: logserver
          passphrase: ""
          description: "Credentials to host for storing logs (LOGS_HOST_USERNAME LOGS_HOST_SSH_KEY)"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ key_list.logserver | indent(width=16) }}
