---

# TODO: implement 'default' project with cleanup job

# TODO: implement templates for projects with pipelines/templates to reduce copy-paste in each project

- include:
    - templates.yaml
    - templates-ansible.yaml
    - templates-build.yaml
    - templates-helm.yaml
    - templates-juju.yaml
    - templates-k8s-manifests.yaml
    - templates-openshift.yaml
    - templates-operator.yaml
    - templates-rhosp.yaml
    - templates-tests.yaml

- project:
    name: tungstenfabric
    nightly:
      templates:
        - build-r1912
        - build-r1912-ubi
        - build-r2011-ubi
        - build-r2011-centos
        - test-unit
        - test-unit-ui
        - k8s-manifests
        - k8s-manifests-ha
        - ansible-k8s
        - ansible-k8s-ha
        - ansible-os
        - ansible-os-ha-ziu
        - helm-k8s
        - helm-k8s-ha
        - helm-os
        - helm-os-ha
        - juju-k8s
        - juju-k8s-ha
        - juju-os
        - juju-os-maas
        - juju-os-ha-ziu
        - juju-os-1912
        - juju-hybrid
        - rhosp13
        - rhosp13-1912
        - rhosp13-ha-ziu
        - rhosp16
        - rhosp16-ha-ziu
        - rhosp13-bmc
        - juju-os-not-implemented-targets
        - juju-k8s-not-implemented-targets
        - juju-hybrid-not-implemented-targets
        - rhosp13-os-not-implemented-targets
        - rhosp16-os-not-implemented-targets
        - ansible-os-not-implemented-targets
        - openshift-k8s-not-implemented-targets
        - cleanup
      streams:
        build-centos:
          vars:
            DEBUGINFO: TRUE
        build-ubi:
          vars:
            DEBUGINFO: TRUE
        build-r1912:
          vars:
            DEBUGINFO: TRUE
        build-r1912-ubi:
          vars:
            DEBUGINFO: TRUE
        build-r2011-ubi:
          vars:
            DEBUGINFO: TRUE
        build-r2011-centos:
          vars:
            DEBUGINFO: TRUE
        # hack with locks due to lack of resources
        juju-os-ha-ziu:
          lock: juju-ha
        juju-k8s-ha:
          lock: juju-ha
        helm-k8s-ha:
          lock: helm-ha
        helm-os-ha:
          lock: helm-ha
        ansible-os-ha-ziu:
          lock: ansible-ha
        ansible-k8s-ha:
          lock: ansible-ha
        k8s-manifests-ha:
          lock: ansible-ha
      jobs:
        publish-centos-nightly:
          job-name: publish
          depends-on:
            - package-centos
        publish-r2011-centos-nightly:
          job-name: publish
          depends-on:
            - package-r2011-centos
          vars:
            TAG_SUFFIX: "-r2011-centos"
            GERRIT_BRANCH: "R2011"
        # to use just built nightly images
        deploy-tf-juju-os-1912:
          job-name: deploy-tf-juju-os
          stream: juju-os-1912
          depends-on:
            - package-r1912
            - package-deployers-centos
            - deploy-platform-juju-os-1912
        deploy-tf-rhosp13-1912:
          stream: rhosp13-1912
          job-name: deploy-tf-rhosp13
          depends-on:
            - package-r1912-ubi
            - package-deployers-ubi
            - deploy-platform-rhosp13-1912

        #publish-centos-r1912:
        #  job-name: publish
        #  depends-on:
        #    - package-r1912
        #  vars:
        #    TAG_SUFFIX: "-r1912"
        #    PUBLISH_TAGS: "R1912"

        #publish-centos-r2011:
        #  job-name: publish
        #  depends-on:
        #    - package-r2011-centos
        #  vars:
        #    TAG_SUFFIX: "-r2011-centos"
        #    PUBLISH_TAGS: "R2011"

        aquascan-ubi-nightly:
          job-name: aquascan
          depends-on:
            - package-ubi
          vars:
            TAG_SUFFIX: "-ubi7"
      post-jobs:
        publish-centos-stable:
          job-name: publish
        cleanup-workers:
          depends-on:
            - publish-centos-stable

- project:
    name: stage-repos-centos7
    stage-repos:
      templates:
        - build-centos
        - ansible-k8s
        - cleanup
      jobs:
        update-stage-repos-centos7:
          job-name: update-stage-repos
          vars:
            REPOS_TYPE: 'centos7'
        prepare-sandbox-centos:
          depends-on:
            - update-stage-repos-centos7
        deploy-platform-ansible-k8s:
          depends-on:
            - update-stage-repos-centos7
        publish-stage-repos-centos7:
          job-name: publish-stage-repos
          vars:
            REPOS_TYPE: 'centos7'
          depends-on:
            - deploy-platform-ansible-k8s
      post-jobs:
        cleanup-workers:

- project:
    names: tungstenfabric/tf-vnc
    check:
      templates:
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-ansible-deployer
    check:
      templates:
        - test-tox-pep8
        - test-tox-py36
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-kolla-ansible
    check:
      templates:
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-deployers-containers
    check:
      templates:
        - build-centos
        - cleanup
    gate:
      templates:
        - build-centos
        - cleanup

- project:
    names: tungstenfabric/tf-container-builder
    check:
      templates:
        - ansible-os # juju-os
        - test-tox-unit
        - cleanup
    gate:
      templates:
        - build-ubi
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-controller
    check:
      templates:
        - test-unit
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-api-client
    check:
      templates:
        - test-unit
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-common
    check:
      templates:
        - test-unit
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-vrouter
    check:
      templates:
        - test-unit
        - ansible-os
        - juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-analytics
    check:
      templates:
        - test-unit
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-packages
    check:
      templates:
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-test
    check:
      templates:
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-neutron-plugin
    check:
      templates:
        - test-unit
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - rhosp13
        - rhosp16
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-helm-deployer
    check:
      templates:
        - helm-k8s
        - helm-os
        - cleanup
    gate:
      templates:
        - helm-k8s
        - helm-os
        - cleanup

- project:
    names: tungstenfabric/tf-third-party-packages
    check:
      templates:
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-third-party
    check:
      templates:
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - build-centos
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    names: tungstenfabric/tf-webui-third-party
    check:
      templates:
        - test-unit-ui
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - build-centos
        - cleanup

- project:
    names: tungstenfabric/tf-web-core
    check:
      templates:
        - test-unit-ui
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - build-centos
        - cleanup

- project:
    names: tungstenfabric/tf-web-controller
    check:
      templates:
        - test-unit-ui
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - build-centos
        - cleanup

- project:
    name: tungstenfabric/tf-charms
    check:
      templates:
        - test-tox-pep8
        - juju-k8s
        - juju-os
        - juju-os-1912
        - cleanup
    gate:
      templates:
        - juju-k8s
        - juju-os

- project:
    name: tungstenfabric/tf-tripleo-puppet
    check:
      templates:
        - rhosp13
        - rhosp16
        - cleanup
    gate:
      templates:
        - rhosp13
        - rhosp16
        - cleanup

- project:
    name: tungstenfabric/tf-tripleo-heat-templates
    branch: stable/queens
    check:
      templates:
        - rhosp13
        - rhosp13-1912
        - cleanup
    gate:
      templates:
        - rhosp13
        - rhosp13-1912
        - cleanup

- project:
    name: tungstenfabric/tf-tripleo-heat-templates
    branch: stable/train
    check:
      templates:
        - rhosp16
        - cleanup
    gate:
      templates:
        - rhosp16
        - cleanup

- project:
    names: tungstenfabric/tf-openshift-ansible
    check:
      templates:
        - openshift
        - cleanup
    gate:
      templates:
        - openshift
        - cleanup

- project:
    names: tungstenfabric/tf-vcenter-fabric-manager
    check:
      templates:
        - test-unit
        - build-centos
        - cleanup
    gate:
      templates:
        - test-unit
        - build-centos
        - cleanup

- project:
    names: tungstenfabric/tf-vcenter-manager
    check:
      templates:
        - test-unit
        - build-centos
        - cleanup
    gate:
      templates:
        - test-unit
        - build-centos
        - cleanup

- project:
    names: tungstenfabric/tf-vcenter-plugin
    check:
      templates:
        - build-centos
        - cleanup
    gate:
      templates:
        - build-centos
        - cleanup

- project:
    names: tungstenfabric/tf-build
    check:
      templates:
        - test-unit
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - build-centos
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-deployment-test
    check:
      templates:
        - test-tox-pep8
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-centos
        - ansible-k8s
        - ansible-os
        - cleanup

# infra projects

- project:
    name: tungstenfabric/tf-dev-test
    check:
      templates:
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-centos
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-dev-env
    check:
      templates:
        - build-centos
        - ansible-os # juju-os
        - cleanup
    gate:
      templates:
        - build-ubi
        - build-centos
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-jenkins
    check:
      templates:
        - build-centos
        - cleanup
