---

# TODO: implement 'default' project with cleanup job

# TODO: implement templates for projects with pipelines/templates to reduce copy-paste in each project

- include:
    - templates.yaml

- project:
    name: tungstenfabric
    nightly:
      streams:
        rhosp16:
          voting: false
        helm-os:
          voting: false
        juju-os-maas:
          voting: false
        juju-os-ha-ziu:
          voting: false
        # rhosp13-bmc:
          # voting: false
      templates:
        - build-r1912
        - build-r1912-rhel
        #- build-r2005
        - test-unit
        - test-unit-ui
        - k8s-manifests
        - ansible-k8s
        - ansible-os
        - ansible-os-ha
        - helm-k8s
        - helm-os
        - juju-k8s
        - juju-os
        - juju-os-maas
        - juju-os-ha-ziu
        - juju-os-1912
        - rhosp13
        - rhosp13-1912
        - rhosp16
        #- rhosp13-bmc
        - cleanup
      jobs:
        publish-centos-nightly:
          job-name: publish
          depends-on:
            - package-centos
        #publish-centos-r1912:
        #  job-name: publish
        #  depends-on:
        #    - package-r1912
        #  vars:
        #    TAG_SUFFIX: "-r1912"
        #    PUBLISH_TAGS: "R1912"
        #publish-centos-r2005:
        #  job-name: publish
        #  depends-on:
        #    - package-r2005
        #  vars:
        #    TAG_SUFFIX: "-r2005"
        #    PUBLISH_TAGS: "R2005"
        aquascan-rhel-nightly:
          job-name: aquascan
          depends-on:
            - package-rhel
          vars:
            TAG_SUFFIX: "-rhel7"
      post-jobs:
        publish-centos-stable:
          job-name: publish
        cleanup-workers:
          depends-on:
            - publish-centos-stable

- project:
    name: tungstenfabric/tf-vnc
    check:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-ansible-deployer
    check:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-kolla-ansible
    check:
      templates:
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-deployers-containers
    check:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-container-builder
    check:
      templates:
        - build-rhel
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - build-centos
        - cleanup

- project:
    name: Juniper/contrail-controller
    check:
      templates:
        - build-rhel
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-api-client
    check:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: Juniper/contrail-common
    check:
      templates:
        - test-unit
        - cleanup
    gate:
      templates:
        - test-unit
        - cleanup
- project:
    name: tungstenfabric/tf-common
    check:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-vrouter
    check:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-analytics
    check:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-packages
    check:
      templates:
        - build-rhel
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - build-rhel
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-test
    check:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-neutron-plugin
    check:
      templates:
        - test-unit
        - ansible-os
        - juju-os
        - cleanup
    gate:
      templates:
        - test-unit
        - ansible-os
        - juju-os
        - cleanup

- project:
    name: tungstenfabric/tf-helm-deployer
    check:
      templates:
        - helm-k8s
        - helm-os
        - cleanup
    gate:
      templates:
        - helm-k8s
        - helm-os
        - cleanup

- project:
    name: tungstenfabric/tf-third-party-packages
    check:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-third-party
    check:
      templates:
        - build-rhel
        - test-unit
        - ansible-k8s
        - ansible-os
        - cleanup
    gate:
      templates:
        - build-rhel
        - build-centos
        - cleanup

- project:
    name: tungstenfabric/tf-charms
    check:
      streams:
        juju-k8s:
          voting: false
      templates:
        - juju-k8s
        - juju-os
        - juju-os-1912
        - cleanup

- project:
    name: tungstenfabric/tf-tripleo-puppet
    branch: stable/queens
    check:
      templates:
        - rhosp13
        - rhosp16
        - cleanup
    gate:
      templates:
        - rhosp13
        - rhosp16
        - cleanup

- project:
    name: tungstenfabric/tf-tripleo-heat-templates
    branch: stable/queens
    check:
      templates:
        - rhosp13
        - rhosp13-1912
        - cleanup
    gate:
      templates:
        - rhosp13
        - rhosp13-1912
        - cleanup

- project:
    name: tungstenfabric/tf-tripleo-heat-templates
    branch: stable/train
    check:
      templates:
        - rhosp16
        - cleanup
    gate:
      templates:
        - rhosp16
        - cleanup

- project:
    name: tungstenfabric/tf-openshift-ansible
    check:
      templates:
        - openshift
        - cleanup
    gate:
      templates:
        - openshift
        - cleanup

- project:
    name: tungstenfabric/tf-vcenter-fabric-manager
    check:
      templates:
        - test-unit
        - build-centos
        - cleanup
    gate:
      templates:
        - test-unit
        - build-centos
        - cleanup

- project:
    name: tungstenfabric/tf-vcenter-manager
    check:
      templates:
        - test-unit
        - build-centos
        - cleanup
    gate:
      templates:
        - test-unit
        - build-centos
        - cleanup

- project:
    name: tungstenfabric/tf-vcenter-plugin
    check:
      templates:
        - build-centos
        - cleanup
    gate:
      templates:
        - build-centos
        - cleanup

# infra projects

- project:
    name: tungstenfabric/tf-dev-test
    check:
      templates:
        - ansible-k8s
        - ansible-os
        - cleanup

- project:
    name: tungstenfabric/tf-dev-env
    check:
      templates:
        - build-rhel
        - build-centos
        - test-unit-ui
        - ansible-k8s
        - cleanup

- project:
    name: tungstenfabric/tf-build
    check:
      templates:
        - build-rhel
        - build-centos
        - ansible-k8s
        - cleanup

- project:
    name: tungstenfabric/tf-jenkins
    check:
      templates:
        - build-centos
        - ansible-os-ha
        - ansible-k8s-ha
        - cleanup
    gate:
      templates:
        - build-centos
