---

# job keys:
#   job-name - name of real job in jjb(jenkins) to execute. to be able to have several
#              jobs with different parameters we have to to define job with unique name
#              and define real job name as a parameter.
#   stream - identifier to group several jobs as one. it influences to logs colelcting,
#            cleanup jobs (as a stream post hook), inheritance of env vars
#   vars - map of a key:value elements to use them as env vars in the job
#   depends-on - list of jobs that should be finished successfully to run this job.
#                may have inherit-keys list of keys of env vars that can be inherited
#                from non-self stream. by default inheritance of env vars is prohibited
#                for different streams.
#   type - type of the job. possible values: stream-post-hook


- template:
    name: cleanup
    post-jobs:
      cleanup-workers:

- template:
    name: build-centos
    jobs:
      prepare-sandbox-centos:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-centos
        vars:
          PUBLISH_TYPE: stable
      fetch-sources-centos:
        job-name: build-fetch-sources
        stream: build-centos
        depends-on:
          - prepare-sandbox-centos
        vars:
          PUBLISH_TYPE: build
      package-deployers-centos:
        job-name: build-package-deployers
        stream: build-centos
        depends-on:
          - fetch-sources-centos
      compile-centos:
        job-name: build-compile
        stream: build-centos
        depends-on:
          - package-deployers-centos
      package-containers-centos:
        job-name: build-package-containers
        stream: build-centos
        depends-on:
          - compile-centos
      package-test-containers-centos:
        job-name: build-package-test-containers
        stream: build-centos
        depends-on:
          - package-containers-centos
      freeze-centos:
        job-name: build-freeze
        stream: build-centos
        depends-on:
          - package-test-containers-centos
        vars:
          PUBLISH_TYPE: frozen
      cleanup-centos:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-centos
        type: stream-post-hook
        depends-on:
          - freeze-centos

- template:
    name: build-rhel
    streams:
      build-rhel:
        vars:
          ENVIRONMENT_OS: rhel7
          LINUX_DISTR_VER: 7.6-362
          TAG_SUFFIX: -rhel7
    jobs:
      prepare-sandbox-rhel:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-rhel
        vars:
          PUBLISH_TYPE: stable
      fetch-sources-rhel:
        job-name: build-fetch-sources
        stream: build-rhel
        depends-on:
          - prepare-sandbox-rhel
        vars:
          PUBLISH_TYPE: build
      package-deployers-rhel:
        job-name: build-package-deployers
        stream: build-rhel
        depends-on:
          - fetch-sources-rhel
      compile-rhel:
        job-name: build-compile
        stream: build-rhel
        depends-on:
          - package-deployers-rhel
      package-containers-rhel:
        job-name: build-package-containers
        stream: build-rhel
        depends-on:
          - compile-rhel
      package-test-containers-rhel:
        job-name: build-package-test-containers
        stream: build-rhel
        depends-on:
          - package-containers-rhel
      freeze-rhel:
        job-name: build-freeze
        stream: build-rhel
        depends-on:
          - package-test-containers-rhel
        vars:
          PUBLISH_TYPE: frozen
      cleanup-rhel:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-rhel
        type: stream-post-hook
        depends-on:
          - freeze-rhel

- template:
    name: test-unit
    parents:
      - build-centos
    jobs:
      test-unit-agent:
        stream: test-unit
        depends-on:
          - fetch-sources-centos:
              inherit-keys:
                - DEVENV_TAG
                - UNITTEST_TARGETS
      test-unit-opserver:
        stream: test-unit
        depends-on:
          - fetch-sources-centos:
              inherit-keys:
                - DEVENV_TAG
                - UNITTEST_TARGETS
      test-unit-bgp:
        stream: test-unit
        depends-on:
          - fetch-sources-centos:
              inherit-keys:
                - DEVENV_TAG
                - UNITTEST_TARGETS
      test-unit-group-one:
        stream: test-unit
        depends-on:
          - fetch-sources-centos:
              inherit-keys:
                - DEVENV_TAG
                - UNITTEST_TARGETS
      test-unit-ungrouped:
        stream: test-unit
        depends-on:
          - fetch-sources-centos:
              inherit-keys:
                - DEVENV_TAG
                - UNITTEST_TARGETS

- template:
    name: test-unit-ui
    parents:
      - build-centos
    jobs:
      test-unit-ui:
        depends-on:
          - fetch-sources-centos:
              inherit-keys:
                - DEVENV_TAG
        vars:
          TARGET: ui

- template:
    name: k8s-manifests
    parents:
      - build-centos
    streams:
      k8s-manifests:
        voting: false
    jobs:
      deploy-platform-k8s-manifests:
        stream: k8s-manifests
      deploy-tf-k8s-manifests:
        stream: k8s-manifests
        depends-on:
          - package-containers-centos
          - deploy-platform-k8s-manifests
      test-sanity-k8s-manifests:
        job-name: test-sanity
        stream: k8s-manifests
        depends-on:
          - package-test-containers-centos
          - deploy-tf-k8s-manifests
      test-smoke-k8s-manifests:
        job-name: test-smoke
        stream: k8s-manifests
        depends-on:
          - deploy-tf-k8s-manifests
      collect-logs-and-cleanup-k8s-manifests:
        # 1. run after all stream jobs if any of stream jobs was run
        # 2. shouldn't be included into report
        # 3. should not dictate how to wait - wait_for_deps should exit on first fail and do not wait for all
        job-name: collect-logs-and-cleanup
        stream: k8s-manifests
        type: stream-post-hook
        depends-on:
          - deploy-platform-k8s-manifests
          - deploy-tf-k8s-manifests
          - test-sanity-k8s-manifests
          - test-smoke-k8s-manifests

- template:
    name: ansible-k8s
    parents:
      - build-centos
    jobs:
      deploy-platform-ansible-k8s:
        stream: ansible-k8s
        depends-on:
          # temporary solution
          - compile-centos
      deploy-tf-ansible-k8s:
        stream: ansible-k8s
        depends-on:
          - package-containers-centos
          - deploy-platform-ansible-k8s
      test-sanity-ansible-k8s:
        job-name: test-sanity
        stream: ansible-k8s
        depends-on:
          - package-test-containers-centos
          - deploy-tf-ansible-k8s
      collect-logs-and-cleanup-ansible-k8s:
        job-name: collect-logs-and-cleanup
        stream: ansible-k8s
        type: stream-post-hook
        depends-on:
          - deploy-platform-ansible-k8s
          - deploy-tf-ansible-k8s
          - test-sanity-ansible-k8s

- template:
    name: ansible-os
    parents:
      - build-centos
    jobs:
      deploy-platform-ansible-os:
        stream: ansible-os
        depends-on:
          # temporary solution
          - compile-centos
      deploy-tf-ansible-os:
        stream: ansible-os
        depends-on:
          - package-containers-centos
          - deploy-platform-ansible-os
      test-sanity-ansible-os:
        job-name: test-sanity
        stream: ansible-os
        depends-on:
          - package-test-containers-centos
          - deploy-tf-ansible-os
      collect-logs-and-cleanup-ansible-os:
        job-name: collect-logs-and-cleanup
        stream: ansible-os
        type: stream-post-hook
        depends-on:
          - deploy-platform-ansible-os
          - deploy-tf-ansible-os
          - test-sanity-ansible-os

- template:
    name: helm-k8s
    parents:
      - build-centos
    jobs:
      deploy-platform-helm-k8s:
        stream: helm-k8s
      deploy-tf-helm-k8s:
        stream: helm-k8s
        depends-on:
          - package-containers-centos
          - deploy-platform-helm-k8s
      test-sanity-helm-k8s:
        job-name: test-sanity
        stream: helm-k8s
        depends-on:
          - package-test-containers-centos
          - deploy-tf-helm-k8s
      collect-logs-and-cleanup-helm-k8s:
        job-name: collect-logs-and-cleanup
        stream: helm-k8s
        type: stream-post-hook
        depends-on:
          - deploy-platform-helm-k8s
          - deploy-tf-helm-k8s
          - test-sanity-helm-k8s

- template:
    name: helm-os
    parents:
      - build-centos
    jobs:
      deploy-platform-helm-os:
        stream: helm-os
      deploy-tf-helm-os:
        stream: helm-os
        depends-on:
          - package-containers-centos
          - deploy-platform-helm-os
      test-sanity-helm-os:
        job-name: test-sanity
        stream: helm-os
        depends-on:
          - package-test-containers-centos
          - deploy-tf-helm-os
      collect-logs-and-cleanup-helm-os:
        job-name: collect-logs-and-cleanup
        stream: helm-os
        type: stream-post-hook
        depends-on:
          - deploy-platform-helm-os
          - deploy-tf-helm-os
          - test-sanity-helm-os

- template:
    name: juju-k8s
    parents:
      - build-centos
    jobs:
      deploy-platform-juju-k8s:
        stream: juju-k8s
      deploy-tf-juju-k8s:
        stream: juju-k8s
        depends-on:
          - package-containers-centos
          - deploy-platform-juju-k8s
      test-sanity-juju-k8s:
        job-name: test-sanity
        stream: juju-k8s
        depends-on:
          - package-test-containers-centos
          - deploy-tf-juju-k8s
      collect-logs-and-cleanup-juju-k8s:
        job-name: collect-logs-and-cleanup
        stream: juju-k8s
        type: stream-post-hook
        depends-on:
          - deploy-platform-juju-k8s
          - deploy-tf-juju-k8s
          - test-sanity-juju-k8s

- template:
    name: juju-os
    parents:
      - build-centos
    streams:
      juju-os:
        vars:
          SSL_ENABLE: 'true'
    jobs:
      deploy-platform-juju-os:
        stream: juju-os
      deploy-tf-juju-os:
        stream: juju-os
        depends-on:
          - package-containers-centos
          - deploy-platform-juju-os
      test-sanity-juju-os:
        job-name: test-sanity
        stream: juju-os
        depends-on:
          - package-test-containers-centos
          - deploy-tf-juju-os
      collect-logs-and-cleanup-juju-os:
        job-name: collect-logs-and-cleanup
        stream: juju-os
        type: stream-post-hook
        depends-on:
          - deploy-platform-juju-os
          - deploy-tf-juju-os
          - test-sanity-juju-os

- template:
    name: juju-os-ha
    parents:
      - build-centos
    jobs:
      deploy-platform-juju-os-ha:
        job-name: deploy-platform-juju-os
        stream: juju-os-ha
        vars:
          NODES: medium:3,small:2
      deploy-tf-juju-os-ha:
        job-name: deploy-tf-juju-os
        stream: juju-os-ha
        depends-on:
          - package-containers-centos
          - deploy-platform-juju-os-ha
      test-sanity-juju-os-ha:
        job-name: test-sanity
        stream: juju-os-ha
        depends-on:
          - package-test-containers-centos
          - deploy-tf-juju-os-ha
      collect-logs-and-cleanup-juju-os-ha:
        job-name: collect-logs-and-cleanup
        stream: juju-os-ha
        type: stream-post-hook
        depends-on:
          - deploy-platform-juju-os-ha
          - deploy-tf-juju-os-ha
          - test-sanity-juju-os-ha

- template:
    name: juju-os-maas
    parents:
      - build-centos
    streams:
      juju-os-maas:
        vars:
          CLOUD: maas
          SSL_ENABLE: 'true'
    jobs:
      deploy-platform-juju-os-maas:
        job-name: deploy-platform-juju-os
        stream: juju-os-maas
      deploy-tf-juju-os-maas:
        job-name: deploy-tf-juju-os
        stream: juju-os-maas
        depends-on:
          - package-containers-centos
          - deploy-platform-juju-os-maas
      test-sanity-juju-os-maas:
        job-name: test-sanity
        stream: juju-os-maas
        depends-on:
          - package-test-containers-centos
          - deploy-tf-juju-os-maas
      collect-logs-and-cleanup-juju-os-maas:
        job-name: collect-logs-and-cleanup
        stream: juju-os-maas
        type: stream-post-hook
        depends-on:
          - deploy-platform-juju-os-maas
          - deploy-tf-juju-os-maas
          - test-sanity-juju-os-maas

- template:
    name: rhosp
    parents:
      - build-rhel
    jobs:
      deploy-platform-rhosp:
        stream: rhosp
        vars:
          ENVIRONMENT_OS: rhel7
          TAG_SUFFIX: -rhel7
      deploy-tf-rhosp:
        stream: rhosp
        depends-on:
          - package-containers-rhel
          - deploy-platform-rhosp
        vars:
          TAG_SUFFIX: -rhel7
      test-sanity-rhosp:
        job-name: test-sanity
        stream: rhosp
        depends-on:
          - package-test-containers-rhel
          - deploy-tf-rhosp
        vars:
          TAG_SUFFIX: -rhel7
      collect-logs-and-cleanup-rhosp:
        job-name: collect-logs-and-cleanup
        stream: rhosp
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp
          - deploy-tf-rhosp
          - test-sanity-rhosp
        vars:
          TAG_SUFFIX: -rhel7

- template:
    name: openshift
    parents:
      - build-rhel
    jobs:
      deploy-platform-openshift:
        stream: openshift
        vars:
          ENVIRONMENT_OS: rhel7
          TAG_SUFFIX: -rhel7
          RHEL_OPENSHIFT_REGISTRY: rhel-mirrors.tf-jenkins.progmaticlab.com:5000
      deploy-tf-openshift:
        stream: openshift
        depends-on:
          - deploy-platform-openshift
          - package-containers-rhel
        vars:
          TAG_SUFFIX: -rhel7
          RHEL_OPENSHIFT_REGISTRY: rhel-mirrors.tf-jenkins.progmaticlab.com:5000
      test-sanity-openshift:
        job-name: test-sanity
        stream: openshift
        depends-on:
          - package-test-containers-rhel
          - deploy-tf-openshift
        vars:
          TAG_SUFFIX: -rhel7
      collect-logs-and-cleanup-openshift:
        job-name: collect-logs-and-cleanup
        stream: openshift
        type: stream-post-hook
        depends-on:
          - deploy-platform-openshift
          - deploy-tf-openshift
          - test-sanity-openshift
        vars:
          TAG_SUFFIX: -rhel7
