---

- template:
    name: build-centos
    streams:
      build-centos:
        vars:
          LINUX_DISTR: centos
    jobs:
      prepare-sandbox-centos:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-centos
        vars:
          DEVENV_TAG: frozen
      fetch-sources-centos:
        job-name: build-fetch-sources
        stream: build-centos
        depends-on:
          - prepare-sandbox-centos
      configure-centos:
        job-name: build-configure
        stream: build-centos
        depends-on:
          - fetch-sources-centos
      package-deployers-centos:
        job-name: build-package-deployers
        stream: build-centos
        depends-on:
          - configure-centos
      compile-centos:
        job-name: build-compile
        stream: build-centos
        depends-on:
          - package-deployers-centos
      package-centos:
        job-name: build-package
        stream: build-centos
        depends-on:
          - compile-centos
      freeze-centos:
        job-name: build-freeze
        stream: build-centos
        depends-on:
          - package-centos
        vars:
          PUBLISH_TYPE: frozen
      cleanup-centos:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-centos
        type: post-hook
        depends-on:
          - freeze-centos

- template:
    name: build-ubi
    streams:
      build-ubi:
        vars:
          LINUX_DISTR: tf-mirrors.tfci.progmaticlab.com:5005/ubi7/ubi
          LINUX_DISTR_VER: stable
          TAG_SUFFIX: "-ubi7"
          INSECURE_REGISTRIES: tf-mirrors.tfci.progmaticlab.com:5005
    jobs:
      prepare-sandbox-ubi:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-ubi
        vars:
          PUBLISH_TYPE: stable
      fetch-sources-ubi:
        job-name: build-fetch-sources
        stream: build-ubi
        depends-on:
          - prepare-sandbox-ubi
      configure-ubi:
        job-name: build-configure
        stream: build-ubi
        depends-on:
          - fetch-sources-ubi
      package-deployers-ubi:
        job-name: build-package-deployers
        stream: build-ubi
        depends-on:
          - configure-ubi
      compile-ubi:
        job-name: build-compile
        stream: build-ubi
        depends-on:
          - package-deployers-ubi
      package-ubi:
        job-name: build-package
        stream: build-ubi
        depends-on:
          - compile-ubi
      cleanup-ubi:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-ubi
        type: post-hook
        depends-on:
          - package-ubi

- template:
    name: build-rhel
    streams:
      build-rhel:
        vars:
          ENVIRONMENT_OS: rhel7
          LINUX_DISTR: rhel7
          LINUX_DISTR_VER: 7.6-362
          TAG_SUFFIX: "-rhel7"
    jobs:
      prepare-sandbox-rhel:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-rhel
        vars:
          PUBLISH_TYPE: stable
      fetch-sources-rhel:
        job-name: build-fetch-sources
        stream: build-rhel
        depends-on:
          - prepare-sandbox-rhel
      configure-rhel:
        job-name: build-configure
        stream: build-rhel
        depends-on:
          - fetch-sources-rhel
      package-deployers-rhel:
        job-name: build-package-deployers
        stream: build-rhel
        depends-on:
          - configure-rhel
      compile-rhel:
        job-name: build-compile
        stream: build-rhel
        depends-on:
          - package-deployers-rhel
      package-rhel:
        job-name: build-package
        stream: build-rhel
        depends-on:
          - compile-rhel
      cleanup-rhel:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-rhel
        type: post-hook
        depends-on:
          - package-rhel

- template:
    name: build-r1912-rhel
    streams:
      build-r1912-rhel:
        vars:
          ENVIRONMENT_OS: rhel7
          LINUX_DISTR: rhel7
          LINUX_DISTR_VER: 7.6-362
          GERRIT_BRANCH: "R1912"
          TAG_SUFFIX: "-r1912-rhel7"
    jobs:
        prepare-sandbox-r1912-rhel:
          # it creates worker
          job-name: build-prepare-sandbox
          stream: build-r1912-rhel
        fetch-sources-r1912-rhel:
          job-name: build-fetch-sources
          stream: build-r1912-rhel
          depends-on:
            - prepare-sandbox-r1912-rhel
        configure-r1912-rhel:
          job-name: build-configure
          stream: build-r1912-rhel
          depends-on:
            - fetch-sources-r1912-rhel
        package-deployers-r1912-rhel:
          job-name: build-package-deployers
          stream: build-r1912-rhel
          depends-on:
            - configure-r1912-rhel
        compile-r1912-rhel:
          job-name: build-compile
          stream: build-r1912-rhel
          depends-on:
            - package-deployers-r1912-rhel
        package-r1912-rhel:
          job-name: build-package
          stream: build-r1912-rhel
          depends-on:
            - compile-r1912-rhel
        cleanup-r1912-rhel:
          # it doesn't call devenv - it removes worker completly
          job-name: build-cleanup
          stream: build-r1912-rhel
          type: post-hook
          depends-on:
            - package-r1912-rhel

- template:
    name: build-r1912-ubi
    streams:
      build-r1912-ubi:
        vars:
          LINUX_DISTR: tf-mirrors.tfci.progmaticlab.com:5005/ubi7/ubi
          LINUX_DISTR_VER: stable
          TAG_SUFFIX: "-r1912-ubi7"
          INSECURE_REGISTRIES: tf-mirrors.tfci.progmaticlab.com:5005
          GERRIT_BRANCH: "R1912"
    jobs:
        prepare-sandbox-r1912-ubi:
          # it creates worker
          job-name: build-prepare-sandbox
          stream: build-r1912-ubi
        fetch-sources-r1912-ubi:
          job-name: build-fetch-sources
          stream: build-r1912-ubi
          depends-on:
            - prepare-sandbox-r1912-ubi
        configure-r1912-ubi:
          job-name: build-configure
          stream: build-r1912-ubi
          depends-on:
            - fetch-sources-r1912-ubi
        package-deployers-r1912-ubi:
          job-name: build-package-deployers
          stream: build-r1912-ubi
          depends-on:
            - configure-r1912-ubi
        compile-r1912-ubi:
          job-name: build-compile
          stream: build-r1912-ubi
          depends-on:
            - package-deployers-r1912-ubi
        package-r1912-ubi:
          job-name: build-package
          stream: build-r1912-ubi
          depends-on:
            - compile-r1912-ubi
        cleanup-r1912-ubi:
          # it doesn't call devenv - it removes worker completly
          job-name: build-cleanup
          stream: build-r1912-ubi
          type: post-hook
          depends-on:
            - package-r1912-ubi

- template:
    name: build-r1912
    streams:
      build-r1912:
        vars:
          LINUX_DISTR: centos
          GERRIT_BRANCH: "R1912"
          TAG_SUFFIX: "-r1912"
    jobs:
      prepare-sandbox-r1912:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-r1912
        vars:
          PUBLISH_TYPE: stable
      fetch-sources-r1912:
        job-name: build-fetch-sources
        stream: build-r1912
        depends-on:
          - prepare-sandbox-r1912
      configure-r1912:
        job-name: build-configure
        stream: build-r1912
        depends-on:
          - fetch-sources-r1912
      package-deployers-r1912:
        job-name: build-package-deployers
        stream: build-r1912
        depends-on:
          - configure-r1912
      compile-r1912:
        job-name: build-compile
        stream: build-r1912
        depends-on:
          - package-deployers-r1912
      package-r1912:
        job-name: build-package
        stream: build-r1912
        depends-on:
          - compile-r1912
      cleanup-r1912:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-r1912
        type: post-hook
        depends-on:
          - package-r1912

- template:
    name: build-r2011-centos
    streams:
      build-r2011-centos:
        vars:
          LINUX_DISTR: centos
          GERRIT_BRANCH: "R2011"
          TAG_SUFFIX: "-r2011-centos"
    jobs:
      prepare-sandbox-r2011-centos:
        # it creates worker
        job-name: build-prepare-sandbox
        stream: build-r2011-centos
        vars:
          PUBLISH_TYPE: stable
      fetch-sources-r2011-centos:
        job-name: build-fetch-sources
        stream: build-r2011-centos
        depends-on:
          - prepare-sandbox-r2011-centos
      configure-r2011-centos:
        job-name: build-configure
        stream: build-r2011-centos
        depends-on:
          - fetch-sources-r2011-centos
      package-deployers-r2011-centos:
        job-name: build-package-deployers
        stream: build-r2011-centos
        depends-on:
          - configure-r2011-centos
      compile-r2011-centos:
        job-name: build-compile
        stream: build-r2011-centos
        depends-on:
          - package-deployers-r2011-centos
      package-r2011-centos:
        job-name: build-package
        stream: build-r2011-centos
        depends-on:
          - compile-r2011-centos
      cleanup-r2011-centos:
        # it doesn't call devenv - it removes worker completly
        job-name: build-cleanup
        stream: build-r2011-centos
        type: post-hook
        depends-on:
          - package-r2011-centos

- template:
    name: build-r2011-ubi
    streams:
      build-r2011-ubi:
        vars:
          LINUX_DISTR: tf-mirrors.tfci.progmaticlab.com:5005/ubi7/ubi
          LINUX_DISTR_VER: stable
          TAG_SUFFIX: "-r2011-ubi7"
          INSECURE_REGISTRIES: tf-mirrors.tfci.progmaticlab.com:5005
          GERRIT_BRANCH: "R2011"
    jobs:
        prepare-sandbox-r2011-ubi:
          # it creates worker
          job-name: build-prepare-sandbox
          stream: build-r2011-ubi
        fetch-sources-r2011-ubi:
          job-name: build-fetch-sources
          stream: build-r2011-ubi
          depends-on:
            - prepare-sandbox-r2011-ubi
        configure-r2011-ubi:
          job-name: build-configure
          stream: build-r2011-ubi
          depends-on:
            - fetch-sources-r2011-ubi
        package-deployers-r2011-ubi:
          job-name: build-package-deployers
          stream: build-r2011-ubi
          depends-on:
            - configure-r2011-ubi
        compile-r2011-ubi:
          job-name: build-compile
          stream: build-r2011-ubi
          depends-on:
            - package-deployers-r2011-ubi
        package-r2011-ubi:
          job-name: build-package
          stream: build-r2011-ubi
          depends-on:
            - compile-r2011-ubi
        cleanup-r2011-ubi:
          # it doesn't call devenv - it removes worker completly
          job-name: build-cleanup
          stream: build-r2011-ubi
          type: post-hook
          depends-on:
            - package-r2011-ubi
