---

- template:
    name: juju-hybrid-not-implemented-targets
    streams:
      juju-hybrid-not-implemented-targets:
        vars:
          MONITORING_DEPLOY_TARGET: AIO,CCImport
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: hybrid

- template:
    name: juju-os-not-implemented-targets
    streams:
      juju-os-not-implemented-targets:
        vars:
          MONITORING_DEPLOY_TARGET: ISSU,CCImport,CharmUpgrade
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: os

- template:
    name: juju-k8s-not-implemented-targets
    streams:
      juju-k8s-not-implemented-targets:
        vars:
          MONITORING_DEPLOY_TARGET: CCImport
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: k8s

- template:
    name: juju-k8s
    streams:
      juju-k8s:
        vars:
          ENABLE_NAGIOS: 'true'
          MONITORING_DEPLOY_TARGET: AIO
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: k8s
    parents:
      - build-centos
    jobs:
      deploy-platform-juju-k8s:
        stream: juju-k8s
      deploy-tf-juju-k8s:
        stream: juju-k8s
        depends-on:
          - package-centos
          - deploy-platform-juju-k8s
      test-sanity-juju-k8s:
        job-name: test-sanity
        stream: juju-k8s
        depends-on:
          - deploy-tf-juju-k8s
      test-deployment-juju-k8s:
        job-name: test-deployment
        stream: juju-k8s
        depends-on:
          - test-sanity-juju-k8s
      collect-logs-and-cleanup-juju-k8s:
        job-name: collect-logs-and-cleanup
        stream: juju-k8s
        type: post-hook
        depends-on:
          - deploy-platform-juju-k8s
          - deploy-tf-juju-k8s
          - test-sanity-juju-k8s
          - test-deployment-juju-k8s

- template:
    name: juju-k8s-ha
    streams:
      juju-k8s-ha:
        vars:
          MONITORING_DEPLOY_TARGET: HA
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: k8s
    parents:
      - build-centos
    jobs:
      deploy-platform-juju-k8s-ha:
        job-name: deploy-platform-juju-k8s
        stream: juju-k8s-ha
        vars:
          NODES: JUJU_CONTROLLER_NODES:xsmall:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:2
      deploy-tf-juju-k8s-ha:
        job-name: deploy-tf-juju-k8s
        stream: juju-k8s-ha
        depends-on:
          - package-centos
          - deploy-platform-juju-k8s-ha
      test-sanity-juju-k8s-ha:
        job-name: test-sanity
        stream: juju-k8s-ha
        depends-on:
          - deploy-tf-juju-k8s-ha
      collect-logs-and-cleanup-juju-k8s-ha:
        job-name: collect-logs-and-cleanup
        stream: juju-k8s-ha
        type: post-hook
        depends-on:
          - deploy-platform-juju-k8s-ha
          - deploy-tf-juju-k8s-ha
          - test-sanity-juju-k8s-ha

- template:
    name: juju-os
    parents:
      - build-centos
    streams:
      juju-os:
        vars:
          SSL_ENABLE: 'true'
          MONITORING_DEPLOY_TARGET: AIO
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: os
          OPENSTACK_VERSION: train
    jobs:
      deploy-platform-juju-os:
        stream: juju-os
      deploy-tf-juju-os:
        stream: juju-os
        depends-on:
          - package-centos
          - deploy-platform-juju-os
      test-sanity-juju-os:
        job-name: test-sanity
        stream: juju-os
        depends-on:
          - deploy-tf-juju-os
      collect-logs-and-cleanup-juju-os:
        job-name: collect-logs-and-cleanup
        stream: juju-os
        type: post-hook
        depends-on:
          - deploy-platform-juju-os
          - deploy-tf-juju-os
          - test-sanity-juju-os

- template:
    name: juju-os-1912
    # to use latest deployer's code
    parents:
      - build-centos
    streams:
      juju-os-1912:
        vars:
          CONTRAIL_CONTAINER_TAG: 'nightly-r1912'
          CONTAINER_REGISTRY: 'tf-nexus.$SLAVE_REGION.$CI_DOMAIN:5002'
          SSL_ENABLE: 'true'
    jobs:
      deploy-platform-juju-os-1912:
        job-name: deploy-platform-juju-os
        stream: juju-os-1912
      deploy-tf-juju-os-1912:
        job-name: deploy-tf-juju-os
        stream: juju-os-1912
        depends-on:
          # to use latest deployer's code
          - package-deployers-centos
          - deploy-platform-juju-os-1912
      test-sanity-juju-os-1912:
        job-name: test-sanity
        stream: juju-os-1912
        depends-on:
          - deploy-tf-juju-os-1912
      collect-logs-and-cleanup-juju-os-1912:
        job-name: collect-logs-and-cleanup
        stream: juju-os-1912
        type: post-hook
        depends-on:
          - deploy-platform-juju-os-1912
          - deploy-tf-juju-os-1912
          - test-sanity-juju-os-1912

- template:
    name: juju-os-2011
    # to use latest deployer's code
    parents:
      - build-centos
    streams:
      juju-os-2011:
        vars:
          CONTRAIL_CONTAINER_TAG: 'nightly-r2011-centos'
          CONTAINER_REGISTRY: 'tf-nexus.$SLAVE_REGION.$CI_DOMAIN:5002'
          SSL_ENABLE: 'true'
          MONITORING_DEPLOY_TARGET: ILTS
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-juju-os-2011:
        job-name: deploy-platform-juju-os
        stream: juju-os-2011
      deploy-tf-juju-os-2011:
        job-name: deploy-tf-juju-os
        stream: juju-os-2011
        depends-on:
          # to use latest deployer's code
          - package-deployers-centos
          - deploy-platform-juju-os-2011
      test-sanity-juju-os-2011:
        job-name: test-sanity
        stream: juju-os-2011
        depends-on:
          - deploy-tf-juju-os-2011
      collect-logs-and-cleanup-juju-os-2011:
        job-name: collect-logs-and-cleanup
        stream: juju-os-2011
        type: post-hook
        depends-on:
          - deploy-platform-juju-os-2011
          - deploy-tf-juju-os-2011
          - test-sanity-juju-os-2011

- template:
    name: juju-os-ha
    parents:
      - build-centos
    streams:
      juju-os-ha:
        vars:
          MONITORING_DEPLOY_TARGET: HA
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: os
          OPENSTACK_VERSION: train
    jobs:
      deploy-platform-juju-os-ha:
        job-name: deploy-platform-juju-os
        stream: juju-os-ha
        vars:
          NODES: JUJU_CONTROLLER_NODES:xsmall:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:2
      deploy-tf-juju-os-ha:
        job-name: deploy-tf-juju-os
        stream: juju-os-ha
        depends-on:
          - package-centos
          - deploy-platform-juju-os-ha
      test-sanity-juju-os-ha:
        job-name: test-sanity
        stream: juju-os-ha
        depends-on:
          - deploy-tf-juju-os-ha
      collect-logs-and-cleanup-juju-os-ha:
        job-name: collect-logs-and-cleanup
        stream: juju-os-ha
        type: post-hook
        depends-on:
          - deploy-platform-juju-os-ha
          - deploy-tf-juju-os-ha
          - test-sanity-juju-os-ha

- template:
    name: juju-os-ha-ziu
    parents:
      - build-centos
    streams:
      juju-os-ha-ziu:
        vars:
          CONTAINER_REGISTRY: tf-nexus.$SLAVE_REGION.$CI_DOMAIN:5002
          CONTRAIL_CONTAINER_TAG: nightly-r2011-centos
          MONITORING_DEPLOY_TARGET: HA,ZIU
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: os
          OPENSTACK_VERSION: train
    jobs:
      deploy-platform-juju-os-ha-ziu:
        job-name: deploy-platform-juju-os
        stream: juju-os-ha-ziu
        vars:
          NODES: JUJU_CONTROLLER_NODES:xsmall:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:2
      deploy-tf-juju-os-ha-ziu:
        job-name: deploy-tf-juju-os
        stream: juju-os-ha-ziu
        depends-on:
          - deploy-platform-juju-os-ha-ziu
      test-ziu-juju-os-ha-ziu:
        job-name: test-deployment
        stream: juju-os-ha-ziu
        vars:
          DEPLOYMENT_TEST_TAGS: ziu
          TF_DEPLOYMENT_TEST_IMAGE: $CONTAINER_REGISTRY_ORIGINAL/tf-deployment-test:$CONTRAIL_CONTAINER_TAG_ORIGINAL
        depends-on:
          - package-centos
          - deploy-tf-juju-os-ha-ziu
      test-sanity-juju-os-ha-ziu:
        job-name: test-sanity
        stream: juju-os-ha-ziu
        vars:
          DEBUG: true
          TF_TEST_IMAGE: $CONTAINER_REGISTRY_ORIGINAL/contrail-test-test:$CONTRAIL_CONTAINER_TAG_ORIGINAL
        depends-on:
          - test-ziu-juju-os-ha-ziu
      collect-logs-and-cleanup-juju-os-ha-ziu:
        job-name: collect-logs-and-cleanup
        stream: juju-os-ha-ziu
        type: post-hook
        depends-on:
          - deploy-platform-juju-os-ha-ziu
          - deploy-tf-juju-os-ha-ziu
          - test-ziu-juju-os-ha-ziu
          - test-sanity-juju-os-ha-ziu

- template:
    name: juju-os-maas
    parents:
      - build-centos
    streams:
      juju-os-maas:
        lock: openlab2
        vars:
          JUMPHOST: openlab2
          SSL_ENABLE: 'true'
          CONTROLLER_NODES: "C1,C2,C3"
          AGENT_NODES: "A1,A2"
          ENABLE_DPDK_SRIOV: 'true'
          CONTROL_NETWORK: '192.168.51.0/24'
          DATA_NETWORK: '10.0.0.0/16'
          MONITORING_DEPLOY_TARGET: PROD,SR-IOV,DPDK
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-juju-os-maas:
        job-name: deploy-platform-juju-os
        stream: juju-os-maas
      deploy-tf-juju-os-maas:
        job-name: deploy-tf-juju-os
        stream: juju-os-maas
        depends-on:
          - package-centos
          - deploy-platform-juju-os-maas
      test-sanity-juju-os-maas:
        job-name: test-sanity
        stream: juju-os-maas
        depends-on:
          - deploy-tf-juju-os-maas
      collect-logs-and-cleanup-juju-os-maas:
        job-name: collect-logs-and-cleanup
        stream: juju-os-maas
        type: post-hook
        depends-on:
          - deploy-platform-juju-os-maas
          - deploy-tf-juju-os-maas
          - test-sanity-juju-os-maas

- template:
    name: juju-hybrid
    parents:
      - build-centos
    streams:
      juju-hybrid:
        vars:
          ENABLE_NAGIOS: 'true'
          MONITORING_DEPLOY_TARGET: AIO
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: hybrid
    jobs:
      deploy-platform-juju-hybrid:
        stream: juju-hybrid
      deploy-tf-juju-hybrid:
        stream: juju-hybrid
        depends-on:
          - package-centos
          - deploy-platform-juju-hybrid
      test-sanity-juju-hybrid:
        job-name: test-sanity
        stream: juju-hybrid
        depends-on:
          - deploy-tf-juju-hybrid
      test-deployment-juju-hybrid:
        job-name: test-deployment
        stream: juju-hybrid
        depends-on:
          - test-sanity-juju-hybrid
      collect-logs-and-cleanup-juju-hybrid:
        job-name: collect-logs-and-cleanup
        stream: juju-hybrid
        type: post-hook
        depends-on:
          - deploy-platform-juju-hybrid
          - deploy-tf-juju-hybrid
          - test-sanity-juju-hybrid
          - test-deployment-juju-hybrid

- template:
    name: juju-hybrid-ha
    parents:
      - build-centos
    streams:
      juju-hybrid-ha:
        vars:
          ENABLE_NAGIOS: 'true'
          MONITORING_DEPLOY_TARGET: HA
          MONITORING_DEPLOYER: juju
          MONITORING_ORCHESTRATOR: hybrid,k8s
    jobs:
      deploy-platform-juju-hybrid-ha:
        job-name: deploy-platform-juju-hybrid
        stream: juju-hybrid-ha
        vars:
          NODES: JUJU_CONTROLLER_NODES:xsmall:1,CONTROLLER_NODES:large:3,AGENT_NODES:small:2
      deploy-tf-juju-hybrid-ha:
        job-name: deploy-tf-juju-hybrid
        stream: juju-hybrid-ha
        depends-on:
          - package-centos
          - deploy-platform-juju-hybrid-ha
      test-sanity-juju-hybrid-ha:
        job-name: test-sanity
        stream: juju-hybrid-ha
        depends-on:
          - deploy-tf-juju-hybrid-ha
      collect-logs-and-cleanup-juju-hybrid-ha:
        job-name: collect-logs-and-cleanup
        stream: juju-hybrid-ha
        type: post-hook
        depends-on:
          - deploy-platform-juju-hybrid-ha
          - deploy-tf-juju-hybrid-ha
          - test-sanity-juju-hybrid-ha
