---

# job keys:
#   job-name - name of real job in jjb(jenkins) to execute. to be able to have several
#              jobs with different parameters we have to to define job with unique name
#              and define real job name as a parameter.
#   stream - identifier to group several jobs as one. it influences to logs colelcting,
#            cleanup jobs (as a stream post hook), inheritance of env vars
#   vars - map of a key:value elements to use them as env vars in the job
#   depends-on - list of jobs that should be finished successfully to run this job.
#                may have inherit-keys list of keys of env vars that can be inherited
#                from non-self stream. by default inheritance of env vars is prohibited
#                for different streams.
#   type - type of the job. possible values: stream-post-hook
#   timeout - timeout in minutes. 180 by default


# 1. run after all stream jobs if any of stream jobs was run
# 2. shouldn't be included into report
# 3. should not dictate how to wait - wait_for_deps should exit on first fail and do not wait for all
#      collect-logs-and-cleanup-k8s-manifests:
#        type: stream-post-hook


- template:
    name: cleanup
    post-jobs:
      cleanup-workers:
