---

- template:
    name: rhosp13-os-not-implemented-targets
    streams:
      rhosp13-os-not-implemented-targets:
        vars:
          MONITORING_DEPLOY_TARGET: ISSU,CCImport
          MONITORING_DEPLOYER: rhosp13
          MONITORING_ORCHESTRATOR: os

- template:
    name: rhosp16-os-not-implemented-targets
    streams:
      rhosp16-os-not-implemented-targets:
        vars:
          MONITORING_DEPLOY_TARGET: PROD,ISSU,SR-IOV,DPDK,ILTS,CCImport
          MONITORING_DEPLOYER: rhosp16
          MONITORING_ORCHESTRATOR: os

- template:
    name: rhosp13
    parents:
      - build-ubi
    streams:
      rhosp13:
        vars:
          OPENSTACK_VERSION: queens
          RHOSP_VERSION: rhosp13
          TAG_SUFFIX: "-ubi7"
          DEPLOY_COMPACT_AIO: true
          ENABLE_RHEL_REGISTRATION: false
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          MONITORING_DEPLOY_TARGET: AIO
          MONITORING_DEPLOYER: rhosp13
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp13:
        stream: rhosp13
      deploy-tf-rhosp13:
        stream: rhosp13
        depends-on:
          - package-ubi
          - deploy-platform-rhosp13
      test-sanity-rhosp13:
        job-name: test-sanity
        stream: rhosp13
        depends-on:
          - deploy-tf-rhosp13
      collect-logs-and-cleanup-rhosp13:
        job-name: collect-logs-and-cleanup
        stream: rhosp13
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp13
          - deploy-tf-rhosp13
          - test-sanity-rhosp13

- template:
    name: rhosp13-1912
    # to use latest deployer's code
    parents:
      - build-ubi
    streams:
      rhosp13-1912:
        vars:
          OPENSTACK_VERSION: queens
          RHOSP_VERSION: rhosp13
          TAG_SUFFIX: "-ubi7"
          DEPLOY_COMPACT_AIO: true
          ENABLE_RHEL_REGISTRATION: false
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          CONTRAIL_CONTAINER_TAG: 'nightly-r1912'
          CONTAINER_REGISTRY: 'tf-nexus.progmaticlab.com:5002'
          MONITORING_DEPLOY_TARGET: ILTS
          MONITORING_DEPLOYER: rhosp13
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp13-1912:
        stream: rhosp13-1912
        job-name: deploy-platform-rhosp13
      deploy-tf-rhosp13-1912:
        stream: rhosp13-1912
        job-name: deploy-tf-rhosp13
        depends-on:
          # to use latest deployer's code
          - package-deployers-ubi
          - deploy-platform-rhosp13-1912
      test-sanity-rhosp13-1912:
        job-name: test-sanity
        stream: rhosp13-1912
        depends-on:
          - deploy-tf-rhosp13-1912
      collect-logs-and-cleanup-rhosp13-1912:
        job-name: collect-logs-and-cleanup
        stream: rhosp13-1912
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp13-1912
          - deploy-tf-rhosp13-1912
          - test-sanity-rhosp13-1912

- template:
    name: rhosp16
    parents:
      - build-ubi
    streams:
      rhosp16:
        vars:
          OPENSTACK_VERSION: train
          RHOSP_VERSION: rhosp16
          TAG_SUFFIX: "-ubi7"
          DEPLOY_COMPACT_AIO: true
          ENABLE_RHEL_REGISTRATION: false
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          MONITORING_DEPLOY_TARGET: AIO
          MONITORING_DEPLOYER: rhosp16
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp16:
        stream: rhosp16
      deploy-tf-rhosp16:
        stream: rhosp16
        depends-on:
          - package-ubi
          - deploy-platform-rhosp16
      test-sanity-rhosp16:
        job-name: test-sanity
        stream: rhosp16
        depends-on:
          - deploy-tf-rhosp16
      collect-logs-and-cleanup-rhosp16:
        job-name: collect-logs-and-cleanup
        stream: rhosp16
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp16
          - deploy-tf-rhosp16
          - test-sanity-rhosp16

- template:
    name: rhosp16-ha
    parents:
      - build-ubi
    streams:
      rhosp16-ha:
        vars:
          OPENSTACK_VERSION: train
          RHOSP_VERSION: rhosp16
          TAG_SUFFIX: "-ubi7"
          SSL_ENABLE: true
          ENABLE_RHEL_REGISTRATION: false
          NODES: 'OPENSTACK_CONTROLLER_NODES:medium:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:1'
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          MONITORING_DEPLOY_TARGET: HA
          MONITORING_DEPLOYER: rhosp16
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp16-ha:
        job-name: deploy-platform-rhosp16
        stream: rhosp16-ha
      deploy-tf-rhosp16-ha:
        job-name: deploy-tf-rhosp16
        stream: rhosp16-ha
        depends-on:
          - package-ubi
          - deploy-platform-rhosp16-ha
      test-sanity-rhosp16-ha:
        job-name: test-sanity
        stream: rhosp16-ha
        depends-on:
          - deploy-tf-rhosp16-ha
      collect-logs-and-cleanup-rhosp16-ha:
        job-name: collect-logs-and-cleanup
        stream: rhosp16-ha
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp16-ha
          - deploy-tf-rhosp16-ha
          - test-sanity-rhosp16-ha

- template:
    name: rhosp13-bmc
    parents:
      - build-ubi
    streams:
      rhosp13-bmc:
        lock: openlab1
        vars:
          JUMPHOST: openlab1
          ENVIRONMENT_OS: rhel7
          RHOSP_VERSION: rhosp13
          TAG_SUFFIX: "-ubi7"
          ENABLE_RHEL_REGISTRATION: false
          ENABLE_NETWORK_ISOLATION: true
          OPENSTACK_CONTAINER_REGISTRY: "10.10.50.2:5000"
          MONITORING_DEPLOY_TARGET: PROD,SR-IOV,DPDK
          MONITORING_DEPLOYER: rhosp13
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp13-bmc:
        job-name: deploy-platform-rhosp13
        stream: rhosp13-bmc
      deploy-tf-rhosp13-bmc:
        job-name: deploy-tf-rhosp13
        stream: rhosp13-bmc
        timeout: 240
        depends-on:
          - package-ubi
          - deploy-platform-rhosp13-bmc
      test-sanity-rhosp13-bmc:
        job-name: test-sanity
        stream: rhosp13-bmc
        depends-on:
          - deploy-tf-rhosp13-bmc
      collect-logs-and-cleanup-rhosp13-bmc:
        job-name: collect-logs-and-cleanup
        stream: rhosp13-bmc
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp13-bmc
          - deploy-tf-rhosp13-bmc
          - test-sanity-rhosp13-bmc

- template:
    name: rhosp13-ha
    parents:
      - build-ubi
    streams:
      rhosp13-ha:
        vars:
          OPENSTACK_VERSION: queens
          RHOSP_VERSION: rhosp13
          TAG_SUFFIX: "-ubi7"
          SSL_ENABLE: true
          ENABLE_RHEL_REGISTRATION: false
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          NODES: 'OPENSTACK_CONTROLLER_NODES:medium:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:1'
          MONITORING_DEPLOY_TARGET: HA
          MONITORING_DEPLOYER: rhosp13
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp13-ha:
        stream: rhosp13-ha
        job-name: deploy-platform-rhosp13
      deploy-tf-rhosp13-ha:
        stream: rhosp13-ha
        job-name: deploy-tf-rhosp13
        depends-on:
          - package-ubi
          - deploy-platform-rhosp13-ha
      test-sanity-rhosp13-ha:
        job-name: test-sanity
        stream: rhosp13-ha
        depends-on:
          - deploy-tf-rhosp13-ha
      collect-logs-and-cleanup-rhosp13-ha:
        job-name: collect-logs-and-cleanup
        stream: rhosp13-ha
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp13-ha
          - deploy-tf-rhosp13-ha
          - test-sanity-rhosp13-ha

- template:
    name: rhosp13-ha-ziu
    parents:
      - build-ubi
    streams:
      rhosp13-ha-ziu:
        vars:
          OPENSTACK_VERSION: queens
          RHOSP_VERSION: rhosp13
          TAG_SUFFIX: "-ubi7"
          CONTAINER_REGISTRY: tf-nexus.progmaticlab.com:5002
          CONTRAIL_CONTAINER_TAG: nightly-r2011
          ENABLE_RHEL_REGISTRATION: false
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          NODES: 'OPENSTACK_CONTROLLER_NODES:medium:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:1'
          MONITORING_DEPLOY_TARGET: HA,ZIU
          MONITORING_DEPLOYER: rhosp13
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp13-ha-ziu:
        stream: rhosp13-ha-ziu
        job-name: deploy-platform-rhosp13
      deploy-tf-rhosp13-ha-ziu:
        stream: rhosp13-ha-ziu
        job-name: deploy-tf-rhosp13
        depends-on:
          - deploy-platform-rhosp13-ha-ziu
      test-deployment-rhosp13-ha-ziu:
        stream: rhosp13-ha-ziu
        job-name: test-deployment
        vars:
          DEPLOYMENT_TEST_TAGS: ziu
          TF_DEPLOYMENT_TEST_IMAGE: $CONTAINER_REGISTRY_ORIGINAL/tf-deployment-test:$CONTRAIL_CONTAINER_TAG_ORIGINAL
        depends-on:
          - package-ubi
          - deploy-tf-rhosp13-ha-ziu
      test-sanity-rhosp13-ha-ziu:
        job-name: test-sanity
        stream: rhosp13-ha-ziu
        vars:
          TF_TEST_IMAGE: $CONTAINER_REGISTRY_ORIGINAL/contrail-test-test:$CONTRAIL_CONTAINER_TAG_ORIGINAL
        depends-on:
          - test-deployment-rhosp13-ha-ziu
      collect-logs-and-cleanup-rhosp13-ha-ziu:
        job-name: collect-logs-and-cleanup
        stream: rhosp13-ha-ziu
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp13-ha-ziu
          - deploy-tf-rhosp13-ha-ziu
          - test-deployment-rhosp13-ha-ziu
          - test-sanity-rhosp13-ha-ziu

- template:
    name: rhosp16-ha-ziu
    parents:
      - build-ubi
    streams:
      rhosp16-ha-ziu:
        vars:
          OPENSTACK_VERSION: train
          RHOSP_VERSION: rhosp16
          TAG_SUFFIX: "-ubi7"
          CONTAINER_REGISTRY: tf-nexus.progmaticlab.com:5002
          CONTRAIL_CONTAINER_TAG: nightly-r2011
          ENABLE_RHEL_REGISTRATION: false
          OPENSTACK_CONTAINER_REGISTRY: "tf-mirrors.progmaticlab.com:5005"
          NODES: 'OPENSTACK_CONTROLLER_NODES:medium:1,CONTROLLER_NODES:medium:3,AGENT_NODES:small:1'
          MONITORING_DEPLOY_TARGET: HA,ZIU
          MONITORING_DEPLOYER: rhosp16
          MONITORING_ORCHESTRATOR: os
    jobs:
      deploy-platform-rhosp16-ha-ziu:
        stream: rhosp16-ha-ziu
        job-name: deploy-platform-rhosp16
      deploy-tf-rhosp16-ha-ziu:
        stream: rhosp16-ha-ziu
        job-name: deploy-tf-rhosp16
        depends-on:
          - deploy-platform-rhosp16-ha-ziu
      test-deployment-rhosp16-ha-ziu:
        stream: rhosp16-ha-ziu
        job-name: test-deployment
        timeout: 240
        vars:
          DEPLOYMENT_TEST_TAGS: ziu
          TF_DEPLOYMENT_TEST_IMAGE: $CONTAINER_REGISTRY_ORIGINAL/tf-deployment-test:$CONTRAIL_CONTAINER_TAG_ORIGINAL
        depends-on:
          - package-ubi
          - deploy-tf-rhosp16-ha-ziu
      test-sanity-rhosp16-ha-ziu:
        job-name: test-sanity
        stream: rhosp16-ha-ziu
        vars:
          TF_TEST_IMAGE: $CONTAINER_REGISTRY_ORIGINAL/contrail-test-test:$CONTRAIL_CONTAINER_TAG_ORIGINAL
        depends-on:
          - test-deployment-rhosp16-ha-ziu
      collect-logs-and-cleanup-rhosp16-ha-ziu:
        job-name: collect-logs-and-cleanup
        stream: rhosp16-ha-ziu
        type: stream-post-hook
        depends-on:
          - deploy-platform-rhosp16-ha-ziu
          - deploy-tf-rhosp16-ha-ziu
          - test-deployment-rhosp16-ha-ziu
          - test-sanity-rhosp16-ha-ziu
