NM_CONTROLLED=no
STP=yes
TYPE=Bridge
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
NAME={{ item.value }}
DEVICE={{ item.value }}
ONBOOT=yes
{% if item.value == 'br-mgmt' %}
IPADDR={{ ansible_host }}
PREFIX=24
GATEWAY={{ gateway }}
{% endif %}
{% if item.value == 'br-data' %}
IPADDR={{ data_ip }}
PREFIX=24
{% endif %}

