{
  {% if ansible_default_ipv4.mtu < 1500 %}
  "mtu": {{ ansible_default_ipv4.mtu }},
  {% endif -%}
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3" 
  },
  "insecure-registries":["tf-nexus.tfci.progmaticlab.com:5001", "tf-nexus.tfci.progmaticlab.com:5002"]
}
