options {
  listen-on-v6 { any; };
  directory "/var/named";
};

{% for regionname, regiondata in regions.items() %}
acl {{ regionname }} {
  {% for net in regiondata.publicnets %}
  {{ net }};
  {% endfor %}
};
{% endfor %}
acl local {
  10.0.0.0/8;
  172.16.0.0/12;
  192.168.0.0/16;
  127.0.0.0/8;
};
acl public { 
{% for regionname in regions %}
  !{{ regionname }};
{% endfor %}
  !local;
  any;
};

{% for regionname, regiondata in regions.items() %}
view {{ regionname }} {
  match-clients { {{ regionname }}; {% if regionname == region %}local;{% endif %} };
  allow-query { {{ regionname }}; local; };
  allow-recursion { {{ regionname }}; local; };
  allow-query-cache { {{ regionname }}; local; };

  include "/etc/named/named.rfc1912.zones";
  include "/etc/named/named.root.key";
  zone "{{ cizone }}" {
    type master;
    file "data/{{ regionname }}.zone";
  };
  {% for regionname in regions %}
  zone "{{ regionname }}.{{ cizone }}" {
    type master;
    file "data/{{ regionname }}.zone";
  };
  {% endfor %}
  forwarders {
  {% for forwarder in regiondata.forwarders %}
    {{ forwarder }};
  {% endfor %}
  };
  dnssec-validation auto;
  auth-nxdomain no;    # conform to RFC1035
};
{% endfor %}


view public {
  match-clients { public; };
  include "/etc/named/named.rfc1912.zones";
  include "/etc/named/named.root.key";

  zone "{{ cizone }}" {
    type master;
    file "data/{{ default_region }}.zone";
  };
  {% for regionname in regions %}
  zone "{{ regionname }}.{{ cizone }}" {
    type master;
    file "data/{{ regionname }}.zone";
  };
  {% endfor %}
  recursion no;
  auth-nxdomain no;    # conform to RFC1035
  dnssec-validation auto;
};

include "/etc/rndc.key";

controls {
  inet 127.0.0.1 port 953 allow { 127.0.0.1; } keys { "rndc-key"; };
};

