$TTL	600
@	IN	SOA	{{ nameservers[0] }}. null.progmaticlab.com. (
			{{ ansible_date_time.iso8601_basic_short[:11] | regex_replace('T', '') }}		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
{% for ns in nameservers %}
@	IN	NS	{{ ns }}.
{% endfor %}
{% for rrname, rrvalue in item.value.data.items() %}
{{ rrname }}	IN	A	{{ rrvalue }}
{% endfor %}
tf-monitoring   IN      CNAME	tf-jenkins
$INCLUDE "/var/named/data/common.data"

