Host *
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null
    PasswordAuthentication=no
    ServerAliveInterval=60

#Section added manually for transparent proxy to openlab1
### The Bastion Host
Host bmc-jumphost
  HostName 66.129.240.253
  User tfciadmin
  IdentityFile /home/jenkins/.ssh/workers

### The Remote Host
Host openlab1
  HostName 10.39.0.21
  ProxyJump bmc-jumphost
  IdentityFile /home/jenkins/.ssh/workers
  User root
