dc_eximconfig_configtype='internet'
dc_other_hostnames='{{ ansible_fqdn }}'
dc_local_interfaces='{{ ansible_default_ipv4.address }}'
dc_readhost=''
{% if mailrelay_to_domains is defined and mailrelay_to_domains|length > 0 %}
dc_relay_domains='{{ mailrelay_to_domains | join(':') }}'
{% else %}
dc_relay_domains='{{ jenkins_admin_email.split('@')[1] }}'
{% endif %}
dc_minimaldns='false'
{% if mailrelay_from is defined %}
dc_relay_nets='{{ mailrelay_from | join(':') }}'
{% else %}
dc_relay_nets=''
{% endif %}
dc_smarthost=''
CFILEMODE='644'
dc_use_split_config='false'
dc_hide_mailname=''
dc_mailname_in_oh='true'
dc_localdelivery='mail_spool'
primary_hostname='{{ jenkins_name }}.{{ region }}.{{ ci_domain }}'
