all:
  children:
#
# monitoring should be deployed to jenkins master host 
#
    jenkins_master:
      hosts:
        tf-jenkins.progmaticlab.com:
          monitoring_region_host: "monitoring.region-name.ci.example.com"
    jenkins_slave:
      children:
        aws:
          hosts:
            aws01.tf-jenkins.progmaticlab.com:
        vexxhost:
          hosts:
            vexx01.tf-jenkins.progmaticlab.com:
    nexus:
      hosts:
        nexus.internal:
          nexus_region_host: "nexus.region-name.ci.example.com"
    mirrors:
      hosts:
        mirrors:
    nameserver:
      hosts:
        ns1:
          region: region1
        ns2:
          region: region2
      vars:
        cizone: ci.internal
        nameservers:
          # FQDNs, put primary master server name first
          - ns1.internal
          - ns2.internal
        regions:
          region1:
            publicnets:
              # Region's public nets
              - 1.2.3.0/24
              - 2.3.4.0/19
            forwarders:
              # Region's default internal resolvers
              - 10.0.0.1
              - 10.0.1.1
            data:
              # Short names and IPs for A RRs in region zone
              tf-nexus: 10.0.1.2
              tf-jenkins: 10.0.1.3
              tf-mirrors: 10.0.1.4
          region2:
            publicnets:
              # Region's public nets
              - 11.2.3.0/24
              - 12.3.4.0/19
            forwarders:
              # Region's default internal resolvers
              - 10.0.0.1
              - 10.0.1.1
            data:
              # Short names and IPs for A RRs in region zone
              tf-nexus: 10.0.2.2
              tf-jenkins: 10.0.2.3
              tf-mirrors: 10.0.2.4
        default_region: region1
    logserver:
      hosts:
        logserver

  vars:
    # please see some defaults in group_vars/all
    # please note that definitions in group_vars/all have greater precedence than below vars
    # if you need to redefine some of them please remove it in group_vars/all and define here

    remote_user: ubuntu

    # Account for publishing containers to dockerhub (nightly job)
    dockerhub:
      namespace: tungstenfabric
      username: username
      password: pwd

    image_web_server: "nexus/repository/"
    nexus_host: "nexus.internal"
    nexus_region_host: "nexus.region1.internal"
    nexus_user: "admin"
    nexus_password: "password"

    # jenkins_new_deploy: true - redeploy Jenkins master from the scratch
    # jenkins_new_deploy: false - upgrade Jenkins master to latest version
    jenkins_new_deploy: false 
    jenkins_default_user_password: "password"
    jenkins_fqdn: "tf-jenkins.ci.internal"
    jenkins_region_fqdn: "tf-jenkins.region1.ci.internal"
    jenkins_admin_email: "root@admin.internal"
    letsencrypt_email: "root@admin.internal"
    log_url: "http://log-site.public:port"
    ssh_keys_dir: "{{ lookup('env', 'HOME') }}/tfci/ssh"

# Optional , secrets used by Jenkins jobs
#
#    aws_access_key: "some_secret"
#    aws_secret_key: "some_secret"
#    docker_user: "some_secret"
#    docker_password: "some_secret"
#    vexx_os_username: "some_secret"
#    vexx_os_project_name: "some_secret"
#    vexx_os_password: "some_secret"
#    vexx_os_domain_name: "some_secret"
#    vexx_os_auth_url: "some_secret"
#    rhel_user: "some_secret"
#    rhel_password: "some_secret"
#    rhel_pool_id: "some_secret"
#    dockerhub_user: "some_secret"
#    dockerhub_password: "some_secret"
#    gerrit_user: "some_secret"
#    gerrit_password: "some_secret"
#    maas_api_key: "some_secret"
#    aquascanner_user: "some_secret"
#    aquascanner_password: "some_secret"
#    aquasec_user: "some_secret"
#    aquasec_password: "some_secret"
