all:
  children:
#
# monitoring should be deployed to jenkins master host - these services has one replica even for multi-region deploy.
#
    jenkins_master:
      hosts:
        199.204.45.99:
          region: ca-ymq-1
    jenkins_slave:
      children:
#        aws:
#          hosts:
#            aws01.region.progmaticlab.com:
        vexxhost:
          hosts:
            199.19.213.80:
              region: ca-ymq-1
              default_network: management
              executors: 90
    nexus:
      hosts:
        199.19.213.181:
          region: ca-ymq-1
          # if this is true then cert will be created also for 'tf-nexus.$ci_domain'
          # in case of false only 'tf-nexus.$region.$ci_domain' will be used
          default_region: true
    # we deploy aquasec on nexus
    aquasec:
      hosts:
        199.19.213.181:
          region: ca-ymq-1
    mirrors:
      hosts:
        199.204.45.97:
          remote_user: centos
    logserver:
      hosts:
        199.19.213.181:

  vars:
    # please see some defaults in group_vars/all
    # please note that definitions in group_vars/all have greater precedence than below vars
    # if you need to redefine some of them please remove it in group_vars/all and define here

    # if True the Jenkins-Configurtaion-as-a-Code file (JCasC) will be applied at run of jenkins-master playbook
    jenkins_overwrite_configuration: true

    # to access hosts from above list
    remote_user: ubuntu
    # private ssh key to those hosts
    ansible_ssh_private_key_file: "{{ lookup('env', 'HOME') }}/.ssh/some_key"

    ci_domain: "some_ci_domain"
  
    nexus_password: "some_password"

    jenkins_default_user_password: "some_password"

    jenkins_admin_email: "tf-jenkins@some_email_domain"
    letsencrypt_email: "null@some_email_domain"

    grafana_password: "some_password"

    # AWS creds in case of AWS save exists
    #aws_access_key: "aws_key"
    #aws_secret_key: "aws_secret"

    # OpenStack creds in case of such slave exists
    os_username: "os_username"
    os_project_name: "os_project_name"
    os_password: "os_password"
    os_domain_name: "os_domain_name"
    os_auth_url: "os_auth_url"

    rhel_user: "rhel_user"
    rhel_password: "rhel_password"
    rhel_pool_id: "rhel_pool_id"

    dockerhub_user: "dockerhub_user"
    dockerhub_password: "dockerhub_password"

    gerrit_user: "gerrit_user"
    gerrit_password: "gerrit_password"

    maas_api_key: "maas_api_key"

    openshift_pull_secret: |
      some json from https://cloud.redhat.com/openshift/install/pull-secret

    aqua_admin_password: "somepassword"
    aqua_db_password: "somepassword"
    aqua_cloud_user: "some@email"
    aqua_cloud_password: "somepassword"
    aqua_scanner_user: "user"
    aqua_scanner_pass: "somepassword"
    aqua_scanner_version: "4.2"
    aqua_license: "licence-base64-string"
