---
  all:
    children:
      jenkins_master:
        hosts:
          tf-jenkins.progmaticlab.com:
      jenkins_slave:
        children:
          aws:
            hosts:
              aws01.tf-jenkins.progmaticlab.com:
          vexxhost:
            hosts:
              vexx01.tf-jenkins.progmaticlab.com:
    vars:
      ansible_user: ubuntu
