[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	enableSignedPush = false
[submit]
	mergeContent = true
[access "refs/*"]
	read = group Administrators
	read = group Approvers
[access "refs/for/*"]
	addPatchSet = group Registered Users
[access "refs/for/refs/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Approvers
	create = group Project Owners
	editTopicName = +force group Administrators
	editTopicName = group Approvers
	editTopicName = +force group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Approvers
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	push = group Administrators
	push = group Approvers
	push = group Project Owners
	read = group Anonymous Users
	revert = group Registered Users
	submit = group Administrators
	submit = group Approvers
	submit = group Project Owners
	label-Verified = -2..+2 group Administrators
	label-Verified = -2..+2 group Approvers
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	create = group Administrators
	create = group Approvers
	create = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Approvers
	label-Code-Review = -2..+2 group Project Owners
	push = group Administrators
	push = group Approvers
	push = group Project Owners
	read = group Administrators
	read = group Approvers
	read = group Project Owners
	submit = group Administrators
	submit = group Approvers
	submit = group Project Owners
	label-Verified = -2..+2 group Administrators
	label-Verified = -2..+2 group Approvers
[access "refs/meta/version"]
	read = group Anonymous Users
[access "refs/tags/*"]
	create = group Administrators
	create = group Approvers
	create = group Project Owners
	createSignedTag = group Administrators
	createSignedTag = group Project Owners
	createTag = group Administrators
	createTag = group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	value = -2 This shall not be submitted
	value = -1 I would prefer this is not submitted as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = changekind:NO_CHANGE OR changekind:TRIVIAL_REBASE OR is:MIN
[label "Verified"]
	value = -2 Fails
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	value = +2 Gating
	copyCondition = changekind:NO_CODE_CHANGE
	function = MaxWithBlock
	defaultValue = 0
[capability]
	administrateServer = group Administrators
	priority = batch group Service Users
	streamEvents = group Service Users
