version: "3.4"
services:
  influxdb:
    image: influxdb:1.8
    ports:
      - 8086:8086
    volumes:
      - influxdb-data:/var/lib/influxdb
    restart: on-failure
  fluentd:
    build:
      context: .
    depends_on:
      - influxdb
    ports:
      - 9880:9880
    volumes:
      - fluentd-data:/fluentd/log
      - ./fluent.conf:/fluentd/etc/fluent.conf
    restart: on-failure
  grafana:
    image: grafana/grafana:latest
    depends_on:
      - influxdb
    ports:
      - 3000:3000
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini
      - grafana-data:/var/lib/grafana
    restart: on-failure
  fixvars:
    build:
      context: .
      dockerfile: Dockerfile.fixvars
    depends_on:
      - fluentd
    restart: on-failure
  nginx:
    image: nginx
    volumes:
      - ./nginx-default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 127.0.0.1:8082:80
    depends_on:
      - grafana
      - fixvars
    environment:
      - VIRTUAL_HOST={{ monitoring_name }}.{{ ci_domain }},{{ monitoring_name }}.{{ region }}.{{ ci_domain }}
      - VIRTUAL_PORT=8082
      - LETSENCRYPT_HOST={{ monitoring_name }}.{{ ci_domain }},{{ monitoring_name }}.{{ region }}.{{ ci_domain }}
      - LETSENCRYPT_EMAIL={{ letsencrypt_email }}
    restart: on-failure

volumes:
  fluentd-data:
  influxdb-data:
  grafana-data:
