{
  {% if ansible_default_ipv4.mtu < 1500 %}
  "mtu": {{ ansible_default_ipv4.mtu }},
  {% endif -%}
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3" 
  }
  {% if 'jenkins_slave' in group_names %}
  ,"insecure-registries":["tf-nexus.{{ region }}.{{ ci_domain }}:5001", "tf-nexus.{{ region }}.{{ ci_domain }}:5002"]
  {% endif -%}
}
